<app-sidebar></app-sidebar>
<app-spinner></app-spinner>
<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4 top side_main bgColor">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4 style="text-align:center">GRO-LOGGED DETAILS</h4>
  </div>
  <div class="table-responsive">
    <table id="table" class="table table-striped table-bordered capitalize" style="width:100%">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of groObj; index as p">
          <td>{{p+1}}</td>
          <td>{{result.value.name}}</td>
          <td *ngIf="result.value.loggedDetails"><button type="button" data-toggle="modal"
              (click)="getLoggedInfo(result.value.name,result.value.loggedDetails)" data-target="#loggedInfo"
              class="btn btn-info btn-sm">Logged Info</button></td>
          <td *ngIf="!result.value.loggedDetails">-</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
<!-- Modal -->
<div class="modal fade" id="loggedInfo" tabindex="-1" role="dialog" aria-labelledby="userInfo" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> {{groName}}
        </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <table id="example" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>S.no</th>
              <th>Datewise Logged Date</th>
              <th>Last Logged Mobile No</th>
            </tr>
          </thead>
          <tbody>
            <!-- *ngFor="let guest of bookedInfo.guestInfo.guestInfo; index as g" -->
            <tr *ngFor="let Info of loggedInfo; index as l">
              <td>{{l+1}}</td>
              <td>{{Info.objId}}</td>
              <td>{{getMobile(Info.objId,Info.value)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
