<app-sidebar></app-sidebar>
<app-spinner></app-spinner>
<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4 top side_main bgColor">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4>Wi-Fi Settings</h4>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <!-- <button class="btn btn-sm btn-outline-secondary">Share</button> -->
        <!-- <button routerLink="/add-user" class="btn btn-sm btn-outline-secondary">Edit</button> -->
      </div>
    </div>
  </div>
  <h6>Click Edit to change the Wi-fi Credentials</h6>
  <div class="table-responsive">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>#</th>
          <th>SSID</th>
          <th>KEY</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of wifiObj; index as wf">
          <td>{{wf+1}}</td>
          <td>{{result.value.ssID}}</td>
          <td>{{result.value.key}}</td>
          <td><a (click)="_openModel(result.value.ssID,result.value.key)">Edit</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</main>


<!-- The Modal -->
<div class="modal fade" id="editModel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Change WiFi 
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>SSID:</label>
                            <input type="text" class="form-control" [(ngModel)]="ssid" placeholder="Enter ssid" name="ssid">
                          </div>    
                          <div class="form-group">
                            <label>KEY:</label>
                            <input type="text" class="form-control" [(ngModel)]="key" placeholder="Enter key" name="key">
                          </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="updateWiFi()" data-dismiss="modal">Update</button>
            </div>

        </div>
    </div>
</div>