<app-sidebar></app-sidebar>
<app-spinner></app-spinner>
<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4 top side_main bgColor">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4 style="text-align:center">Enquiry Details – Find all the Enquiries which are initiated through the contact us
      page.</h4>
    <!-- <button id="btnExport" class="btn btn-sm btn-outline-secondary" (click)="exportToExcel($event)">Export To
        Excel</button> -->
  </div>
  <div class="tab_top">
    <div class="se_by_date mb-3 float-left">
      <div class="date_inp_sec d-inline-block mr-2">
        <label class="d-block">From</label>
        <input palceholder="From Date" id="a_from_date" readonly />
      </div>
      <div class="date_inp_sec d-inline-block mr-2">
        <label class="d-block">To</label>
        <input palceholder="To Date" id="a_to_date" readonly />
      </div>
      <div class="date_inp_sec d-inline-block">
        <button class="search_dt" (click)="filterTable('#table_show', '#a_from_date', '#a_to_date', 5)">Search</button>
      </div>
    </div>
    <button id="btnExport" class="btn btn-sm btn-outline-secondary float-right" (click)="exportToExcel($event)">Export
      To
      Excel</button>
    <div class="clearfix"></div>
  </div>
  <div class="table-responsive">
    <table id="table_show" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Mobile No</th>
          <th>Email</th>
          <th>Country</th>
          <th>Travel Sector</th>
          <th>Accept Call & Mail</th>
          <th>Travel Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of enquiryObj; index as p">
          <td>{{p+1}}</td>
          <td style="text-transform: capitalize">{{result.value.name}}</td>
          <td>{{result.value.mobileNo}}</td>
          <td>{{result.value.email}}</td>
          <td style="text-transform: capitalize">{{result.value.countryName}}</td>
          <td style="text-transform: capitalize">{{result.value.travelSector}}</td>
          <td style="text-transform: capitalize">{{result.value.acceptCm}}</td>
          <td>{{result.value.message?result.value.message:'-'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive" id="enquiryDetails" style="display:none">
    <table id="table_hidden" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Mobile No</th>
          <th>Email</th>
          <th>Country</th>
          <th>Travel Sector</th>
          <th>Accept Call & Mail</th>
          <th>Travel Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of enquiryObj; index as p">
          <td>{{p+1}}</td>
          <td style="text-transform: capitalize">{{result.value.name}}</td>
          <td>{{result.value.mobileNo}}</td>
          <td>{{result.value.email}}</td>
          <td style="text-transform: capitalize">{{result.value.countryName}}</td>
          <td style="text-transform: capitalize">{{result.value.travelSector}}</td>
          <td style="text-transform: capitalize">{{result.value.acceptCm}}</td>
          <td>{{result.value.message?result.value.message:'-'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
