<app-sidebar></app-sidebar>
<app-spinner></app-spinner>

<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4 top side_main bgColor">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4 *ngIf="!editData">Fill-up form details to add new staff</h4>
    <h4 *ngIf="editData">Edit staff details</h4>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button routerLink="/manage-users" class="btn btn-sm btn-outline-secondary">Back</button>
      </div>
    </div>
  </div>
  <!-- <form> -->
  <div class="col-md-6">
    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" [(ngModel)]="name" placeholder="Enter name" name="name">
    </div>
    <div class="form-group">
      <label>Mobile:</label>
      <input type="number" class="form-control" [(ngModel)]="mobileNo" placeholder="Enter mobile" name="mobile">
    </div>
    <div class="form-group">
      <label>Select Role:</label>
      <select class="form-control" [(ngModel)]="role" name="role" [disabled]="editData">
        <option value=''>--Select a role--</option>
        <option value="gro">Gro</option>
        <option value="grl">Grl</option>
        <option value="admin">Admin</option>
      </select>
    </div>
    <div>
      <div class="form-group">
        <label>Email:</label>
        <input type="email" class="form-control" [(ngModel)]="email" placeholder="Enter email" name="email" [disabled]="editData">
      </div>
      <div class="form-group">
          <label>Password:</label>
          <input type="password" class="form-control" [(ngModel)]="password" placeholder="Enter password" name="pswd" [disabled]="editData">
        </div>
    </div>
    <button *ngIf="!editData" type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    <button *ngIf="editData" type="submit" class="btn btn-primary" (click)="onSubmit()">Update</button>
  </div>
  <!-- </form> -->
</main>