<app-sidebar></app-sidebar>
<app-spinner></app-spinner>
<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4 top side_main bgColor">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4 style="text-align:center">CANCELLED DETAILS</h4>

  </div>
  <!-- <h6>Select the type of booking you want to manage</h6> -->
  <ul class="nav nav-mytabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="arrival-tab" data-toggle="tab" href="#arrival" role="tab" aria-controls="arrival"
        aria-selected="true">Arrival</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="departure-tab" data-toggle="tab" href="#departure" role="tab" aria-controls="departure"
        aria-selected="false">Departure</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="transfer-tab" data-toggle="tab" href="#transfer" role="tab" aria-controls="transfer"
        aria-selected="false">Transfer</a>
    </li>
  </ul>
  <div class="tab-content mytab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="arrival" role="tabpanel" aria-labelledby="arrival-tab">
      <div class="tab_top">
        <div class="se_by_date mb-3 float-left">
          <div class="date_inp_sec d-inline-block mr-2">
            <label class="d-block">From(Slotdate)</label>
            <input palceholder="From Date" id="a_from_date" readonly />
          </div>
          <div class="date_inp_sec d-inline-block mr-2">
            <label class="d-block">To(Slotdate)</label>
            <input palceholder="To Date" id="a_to_date" readonly />
          </div>
          <div class="date_inp_sec d-inline-block">
            <button class="search_dt" (click)="filterTable('#table_1', '#a_from_date', '#a_to_date', 3)">Search</button>
          </div>
        </div>
        <button id="btnExport" class="btn btn-sm btn-outline-secondary float-right"
          (click)="exportToExcelArrival($event)">Export To
          Excel</button>
        <div class="clearfix"></div>
      </div>
      <div class="table-responsive">
        <table id="table_1" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>S.no</th>
              <th>Booking Id</th>
              <th>Date Of Flight(IST)</th>
              <th>Slot(IST)</th>
              <th>Status</th>
              <!-- <th>Mode</th> -->
              <th>Plan</th>
              <th>Package</th>
              <th>Add Ons</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let result of arrivalObj; index as a">
              <td>{{a+1}}</td>
              <td>
                <button type="button" (click)="_bookedInfo(result.objId,result.value)" data-toggle="modal"
                  data-target="#info" class="btn btn-outline-info btn-sm">{{result.objId}}</button>
              </td>
              <td style="font-size: small">{{result.value.flInfo.flTimeLabel1}} |
                {{result.value.flInfo.flTimeLabel2.replace('(IST)','')}}</td>
              <td style="font-size: small"> {{result.value.slotInfo.slotTimeLabel1}} |
                {{result.value.slotInfo.slotTimeLabel2.replace('(IST)','')}}</td>
              <td style="text-transform: capitalize;">{{result.value.status}}</td>
              <!-- <td style="text-transform: capitalize;">{{result.value.service}}</td> -->
              <td>{{result.value.pkgInfo.pkgPlan}}</td>
              <td>
                <button type="button" *ngIf="result.value.pkgInfo.pkgName == 'DOMESTIC'"
                  class="btn btn-outline-warning btn-sm">{{result.value.pkgInfo.pkgName.replace('PACKAGE','')}}</button>
                <button type="button" *ngIf="result.value.pkgInfo.pkgName == 'INTERNATIONAL'"
                  class="btn btn-outline-dark btn-sm">{{result.value.pkgInfo.pkgName.replace('PACKAGE','')}}</button>
              </td>
              <td *ngIf="result.value.addOnDetails">
                <span *ngFor="let addOn of arrivalObj[a].value.addOnDetails; index as ads">
                  <span style="padding:3px;" *ngIf="(addOn | lowercase) == 'porter service'"><button type="button"
                      class="btn btn-outline-primary btn-sm">P</button></span>
                  <span *ngIf="(addOn | lowercase) == 'lounge'"><button type="button"
                      class="btn btn-outline-success btn-sm">L</button></span>
                </span>
              </td>
              <td *ngIf="!result.value.addOnDetails">
                <button type="button" class="btn btn-outline-secondary btn-sm">None</button>
              </td>

              <td *ngIf="result.value.status == 'booked'">
                <button type="button" (click)="cancelPlan(result.value.uid,result.value.service,result.objId)"
                  class="btn btn-danger btn-sm">Cancel
                  Booking</button>
              </td>
              <td *ngIf="result.value.status != 'booked'">
                -
              </td>
            </tr>
          </tbody>
        </table>
        <div id="arrivalDetails" style="display:none">
            <table class="table table-striped table-bordered" style="width:100%">
                <thead>
                  <tr>
                    <th>S.no</th>
                    <th>Booking Id</th>
                    <th>Date Of Flight(IST)</th>
                    <th>Slot(IST)</th>
                    <th>Status</th>
                    <!-- <th>Mode</th> -->
                    <th>Plan</th>
                    <th>Package</th>
                    <th>Add Ons</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let result of arrivalObj; index as a">
                    <td>{{a+1}}</td>
                    <td>
                      <button type="button" (click)="_bookedInfo(result.objId,result.value)" data-toggle="modal"
                        data-target="#info" class="btn btn-outline-info btn-sm">{{result.objId}}</button>
                    </td>
                    <td style="font-size: small">{{result.value.flInfo.flTimeLabel1}} |
                      {{result.value.flInfo.flTimeLabel2.replace('(IST)','')}}</td>
                    <td style="font-size: small"> {{result.value.slotInfo.slotTimeLabel1}} |
                      {{result.value.slotInfo.slotTimeLabel2.replace('(IST)','')}}</td>
                    <td style="text-transform: capitalize;">{{result.value.status}}</td>
                    <!-- <td style="text-transform: capitalize;">{{result.value.service}}</td> -->
                    <td>{{result.value.pkgInfo.pkgPlan}}</td>
                    <td>
                      <button type="button" *ngIf="result.value.pkgInfo.pkgName == 'DOMESTIC'"
                        class="btn btn-outline-warning btn-sm">{{result.value.pkgInfo.pkgName.replace('PACKAGE','')}}</button>
                      <button type="button" *ngIf="result.value.pkgInfo.pkgName == 'INTERNATIONAL'"
                        class="btn btn-outline-dark btn-sm">{{result.value.pkgInfo.pkgName.replace('PACKAGE','')}}</button>
                    </td>
                    <td *ngIf="result.value.addOnDetails">
                      <span *ngFor="let addOn of arrivalObj[a].value.addOnDetails; index as ads">
                        <span style="padding:3px;" *ngIf="(addOn | lowercase) == 'porter service'"><button type="button"
                            class="btn btn-outline-primary btn-sm">P</button></span>
                        <span *ngIf="(addOn | lowercase) == 'lounge'"><button type="button"
                            class="btn btn-outline-success btn-sm">L</button></span>
                      </span>
                    </td>
                    <td *ngIf="!result.value.addOnDetails">
                      <button type="button" class="btn btn-outline-secondary btn-sm">None</button>
                    </td>
      
                    <td *ngIf="result.value.status == 'booked'">
                      <button type="button" (click)="cancelPlan(result.value.uid,result.value.service,result.objId)"
                        class="btn btn-danger btn-sm">Cancel
                        Booking</button>
                    </td>
                    <td *ngIf="result.value.status != 'booked'">
                      -
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="departure" role="tabpanel" aria-labelledby="departure-tab">
      <div class="tab_top">
        <div class="se_by_date mb-3 float-left">
          <div class="date_inp_sec d-inline-block mr-2">
            <label class="d-block">From(Slotdate)</label>
            <input palceholder="From Date" id="d_from_date" readonly />
          </div>
          <div class="date_inp_sec d-inline-block mr-2">
            <label class="d-block">To(Slotdate)</label>
            <input palceholder="To Date" id="d_to_date" readonly />
          </div>
          <div class="date_inp_sec d-inline-block">
            <button class="search_dt" (click)="filterTable('#table_2', '#d_from_date', '#d_to_date', 3)">Search</button>
          </div>
        </div>
        <button id="btnExport" class="btn btn-sm btn-outline-secondary float-right"
          (click)="exportToExcelDeparture($event)">Export To
          Excel</button>
        <div class="clearfix"></div>
      </div>
      <div class="table-responsive">
        <table id="table_2" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>S.no</th>
              <th>Booking Id</th>
              <th>Date Of Flight(IST)</th>
              <th>Slot(IST)</th>
              <th>Status</th>
              <!-- <th>Mode</th> -->
              <th>Plan</th>
              <th>Package</th>
              <th>Add Ons</th>
              <th>Push Notification</th>
              <th>4 Hours</th>
              <th>15 Mins</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let result of departureObj; index as d">
              <td>{{d+1}}</td>
              <td>
                <button type="button" (click)="_bookedInfo(result.objId,result.value)" data-toggle="modal"
                  data-target="#info" class="btn btn-outline-info btn-sm">{{result.objId}}</button>
              </td>
              <td style="font-size: small">{{result.value.flInfo.flTimeLabel1}} |
                {{result.value.flInfo.flTimeLabel2.replace('(IST)','')}}</td>
              <td style="font-size: small"> {{result.value.slotInfo.slotTimeLabel1}} |
                {{result.value.slotInfo.slotTimeLabel2.replace('(IST)','')}}</td>
              <td style="text-transform: capitalize;">{{result.value.status}}</td>
              <!-- <td style="text-transform: capitalize;">{{result.value.service}}</td> -->
              <td>{{result.value.pkgInfo.pkgPlan.replace('PLAN','')}}</td>
              <td>
                <button type="button" *ngIf="(result.value.pkgInfo.pkgName | uppercase) == 'GOLD PACKAGE'"
                  class="btn btn-outline-warning btn-sm">{{result.value.pkgInfo.pkgName.replace('PACKAGE','')}}</button>
                <button type="button" *ngIf="(result.value.pkgInfo.pkgName | uppercase) == 'PLATINUM PACKAGE'"
                  class="btn btn-outline-dark btn-sm">{{result.value.pkgInfo.pkgName.replace('PACKAGE','')}}</button>
              </td>
              <td *ngIf="result.value.addOnDetails">
                <span *ngFor="let addOn of departureObj[d].value.addOnDetails; index as ads">
                  <span style="padding:3px;" *ngIf="(addOn | lowercase) == 'porter service'"><button type="button"
                      class="btn btn-outline-primary btn-sm">P</button></span>
                  <span *ngIf="(addOn | lowercase) == 'lounge'"><button type="button"
                      class="btn btn-outline-success btn-sm">L</button></span>
                </span>
              </td>
              <td *ngIf="!result.value.addOnDetails">
                <button type="button" class="btn btn-outline-secondary btn-sm">None</button>
              </td>
              <td>{{result.value.allocatedSms?'True':'False'}}</td>
              <td>{{result.value.allocatedSms?'True':'False'}}</td>
              <td>{{result.value.sendSms?'True':'False'}}</td>
              <td *ngIf="result.value.status == 'booked'">
                <button
                  (click)="reschedule(result.value,result.value.slotInfo.slotTimeLabel1,result.value.slotInfo.slotTimeLabel2,result.objId)"
                  type="button" class="btn btn-primary  btn-sm">Reschedule</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" class="d-none" #openReScheduleModel
                  data-target="#reSchedule">
                </button>
              </td>
              <td *ngIf="result.value.status != 'booked'">
                -
              </td>
              <td *ngIf="result.value.status == 'booked'">
                <button type="button" (click)="cancelPlan(result.value.uid,result.value.service,result.objId)"
                  class="btn btn-danger btn-sm">Cancel
                  Booking</button>
              </td>
              <td *ngIf="result.value.status != 'booked'">
                -
              </td>
            </tr>
          </tbody>
        </table>
        <div id="departureDetails" style="display:none">
            <table class="table table-striped table-bordered" style="width:100%">
                <thead>
                  <tr>
                    <th>S.no</th>
                    <th>Booking Id</th>
                    <th>Date Of Flight(IST)</th>
                    <th>Slot(IST)</th>
                    <th>Status</th>
                    <!-- <th>Mode</th> -->
                    <th>Plan</th>
                    <th>Package</th>
                    <th>Add Ons</th>
                    <th>Push Notification</th>
                    <th>4 Hours</th>
                    <th>15 Mins</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let result of departureObj; index as d">
                    <td>{{d+1}}</td>
                    <td>
                      <button type="button" (click)="_bookedInfo(result.objId,result.value)" data-toggle="modal"
                        data-target="#info" class="btn btn-outline-info btn-sm">{{result.objId}}</button>
                    </td>
                    <td style="font-size: small">{{result.value.flInfo.flTimeLabel1}} |
                      {{result.value.flInfo.flTimeLabel2.replace('(IST)','')}}</td>
                    <td style="font-size: small"> {{result.value.slotInfo.slotTimeLabel1}} |
                      {{result.value.slotInfo.slotTimeLabel2.replace('(IST)','')}}</td>
                    <td style="text-transform: capitalize;">{{result.value.status}}</td>
                    <!-- <td style="text-transform: capitalize;">{{result.value.service}}</td> -->
                    <td>{{result.value.pkgInfo.pkgPlan.replace('PLAN','')}}</td>
                    <td>
                      <button type="button" *ngIf="(result.value.pkgInfo.pkgName | uppercase) == 'GOLD PACKAGE'"
                        class="btn btn-outline-warning btn-sm">{{result.value.pkgInfo.pkgName.replace('PACKAGE','')}}</button>
                      <button type="button" *ngIf="(result.value.pkgInfo.pkgName | uppercase) == 'PLATINUM PACKAGE'"
                        class="btn btn-outline-dark btn-sm">{{result.value.pkgInfo.pkgName.replace('PACKAGE','')}}</button>
                    </td>
                    <td *ngIf="result.value.addOnDetails">
                      <span *ngFor="let addOn of departureObj[d].value.addOnDetails; index as ads">
                        <span style="padding:3px;" *ngIf="(addOn | lowercase) == 'porter service'"><button type="button"
                            class="btn btn-outline-primary btn-sm">P</button></span>
                        <span *ngIf="(addOn | lowercase) == 'lounge'"><button type="button"
                            class="btn btn-outline-success btn-sm">L</button></span>
                      </span>
                    </td>
                    <td *ngIf="!result.value.addOnDetails">
                      <button type="button" class="btn btn-outline-secondary btn-sm">None</button>
                    </td>
                    <td>{{result.value.allocatedSms?'True':'False'}}</td>
                    <td>{{result.value.allocatedSms?'True':'False'}}</td>
                    <td>{{result.value.sendSms?'True':'False'}}</td>
                    <td *ngIf="result.value.status == 'booked'">
                      <button
                        (click)="reschedule(result.value,result.value.slotInfo.slotTimeLabel1,result.value.slotInfo.slotTimeLabel2,result.objId)"
                        type="button" class="btn btn-primary  btn-sm">Reschedule</button>
                      <button type="button" class="btn btn-primary" data-toggle="modal" class="d-none" #openReScheduleModel
                        data-target="#reSchedule">
                      </button>
                    </td>
                    <td *ngIf="result.value.status != 'booked'">
                      -
                    </td>
                    <td *ngIf="result.value.status == 'booked'">
                      <button type="button" (click)="cancelPlan(result.value.uid,result.value.service,result.objId)"
                        class="btn btn-danger btn-sm">Cancel
                        Booking</button>
                    </td>
                    <td *ngIf="result.value.status != 'booked'">
                      -
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="transfer" role="tabpanel" aria-labelledby="transfer-tab">
      <div class="tab_top">
        <div class="se_by_date mb-3 float-left">
          <div class="date_inp_sec d-inline-block mr-2">
            <label class="d-block">From(Slotdate)</label>
            <input palceholder="From Date" id="t_from_date" readonly />
          </div>
          <div class="date_inp_sec d-inline-block mr-2">
            <label class="d-block">To(Slotdate)</label>
            <input palceholder="To Date" id="t_to_date" readonly />
          </div>
          <div class="date_inp_sec d-inline-block">
            <button class="search_dt" (click)="filterTable('#table_3', '#t_from_date', '#t_to_date', 2)">Search</button>
          </div>
        </div>
        <button id="btnExport" class="btn btn-sm btn-outline-secondary float-right"
          (click)="exportToExcelTransfer($event)">Export To
          Excel</button>
        <div class="clearfix"></div>
      </div>
      <div class="table-responsive">
        <table id="table_3" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>S.no</th>
              <th>Booking Id</th>
              <!-- <th>Date Of Flight(IST)</th> -->
              <th>Slot(IST)</th>
              <th>Status</th>
              <!-- <th>Mode</th> -->
              <th>Plan</th>
              <th>Package</th>
              <th>Add Ons</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let result of transferObj; index as T">
              <td>{{T+1}}</td>
              <td>
                <button type="button" (click)="_bookedInfo(result.objId,result.value)" data-toggle="modal"
                  data-target="#info" class="btn btn-outline-info btn-sm">{{result.objId}}</button>
              </td>
              <!-- <td style="font-size: small">{{result.value.flInfo.flTimeLabel1}} |
                {{result.value.flInfo.flTimeLabel2.replace('(IST)','')}}</td> -->
              <td style="font-size: small"> {{result.value.slotInfo.slotTimeLabel1}} |
                {{result.value.slotInfo.slotTimeLabel2.replace('(IST)','')}}</td>
              <td style="text-transform: capitalize;">{{result.value.status}}</td>
              <!-- <td style="text-transform: capitalize;">{{result.value.service}}</td> -->
              <td>{{result.value.pkgInfo.pkgPlan}}</td>
              <td>
                <button type="button" *ngIf="(result.value.pkgInfo.pkgName | uppercase) == 'GOLD PACKAGE'"
                  class="btn btn-outline-warning btn-sm">{{result.value.pkgInfo.pkgName.replace('PACKAGE','')}}</button>
                <button type="button" *ngIf="(result.value.pkgInfo.pkgName | uppercase) == 'PLATINUM PACKAGE'"
                  class="btn btn-outline-dark btn-sm">{{result.value.pkgInfo.pkgName.replace('PACKAGE','')}}</button>
              </td>
              <td *ngIf="result.value.addOnDetails">
                <span *ngFor="let addOn of transferObj[T].value.addOnDetails; index as ads">
                  <span style="padding:3px;" *ngIf="(addOn | lowercase) == 'porter service'"><button type="button"
                      class="btn btn-outline-primary btn-sm">P</button></span>
                  <span *ngIf="(addOn | lowercase) == 'lounge'"><button type="button"
                      class="btn btn-outline-success btn-sm">L</button></span>
                </span>
              </td>
              <td *ngIf="!result.value.addOnDetails">
                <button type="button" class="btn btn-outline-secondary btn-sm">None</button>
              </td>
              <td *ngIf="result.value.status == 'booked'">
                <button type="button" (click)="cancelPlan(result.value.uid,result.value.service,result.objId)"
                  class="btn btn-danger btn-sm">Cancel
                  Booking</button>
              </td>
              <td *ngIf="result.value.status != 'booked'">
                -
              </td>
            </tr>
          </tbody>
        </table>
        <div id="transferDetails" style="display:none">
            <table class="table table-striped table-bordered" style="width:100%">
                <thead>
                  <tr>
                    <th>S.no</th>
                    <th>Booking Id</th>
                    <!-- <th>Date Of Flight(IST)</th> -->
                    <th>Slot(IST)</th>
                    <th>Status</th>
                    <!-- <th>Mode</th> -->
                    <th>Plan</th>
                    <th>Package</th>
                    <th>Add Ons</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let result of transferObj; index as T">
                    <td>{{T+1}}</td>
                    <td>
                      <button type="button" (click)="_bookedInfo(result.objId,result.value)" data-toggle="modal"
                        data-target="#info" class="btn btn-outline-info btn-sm">{{result.objId}}</button>
                    </td>
                    <!-- <td style="font-size: small">{{result.value.flInfo.flTimeLabel1}} |
                      {{result.value.flInfo.flTimeLabel2.replace('(IST)','')}}</td> -->
                    <td style="font-size: small"> {{result.value.slotInfo.slotTimeLabel1}} |
                      {{result.value.slotInfo.slotTimeLabel2.replace('(IST)','')}}</td>
                    <td style="text-transform: capitalize;">{{result.value.status}}</td>
                    <!-- <td style="text-transform: capitalize;">{{result.value.service}}</td> -->
                    <td>{{result.value.pkgInfo.pkgPlan}}</td>
                    <td>
                      <button type="button" *ngIf="(result.value.pkgInfo.pkgName | uppercase) == 'GOLD PACKAGE'"
                        class="btn btn-outline-warning btn-sm">{{result.value.pkgInfo.pkgName.replace('PACKAGE','')}}</button>
                      <button type="button" *ngIf="(result.value.pkgInfo.pkgName | uppercase) == 'PLATINUM PACKAGE'"
                        class="btn btn-outline-dark btn-sm">{{result.value.pkgInfo.pkgName.replace('PACKAGE','')}}</button>
                    </td>
                    <td *ngIf="result.value.addOnDetails">
                      <span *ngFor="let addOn of transferObj[T].value.addOnDetails; index as ads">
                        <span style="padding:3px;" *ngIf="(addOn | lowercase) == 'porter service'"><button type="button"
                            class="btn btn-outline-primary btn-sm">P</button></span>
                        <span *ngIf="(addOn | lowercase) == 'lounge'"><button type="button"
                            class="btn btn-outline-success btn-sm">L</button></span>
                      </span>
                    </td>
                    <td *ngIf="!result.value.addOnDetails">
                      <button type="button" class="btn btn-outline-secondary btn-sm">None</button>
                    </td>
                    <td *ngIf="result.value.status == 'booked'">
                      <button type="button" (click)="cancelPlan(result.value.uid,result.value.service,result.objId)"
                        class="btn btn-danger btn-sm">Cancel
                        Booking</button>
                    </td>
                    <td *ngIf="result.value.status != 'booked'">
                      -
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>

</main>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="info" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" *ngIf="bookedInfo" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        Detailed Booking Information
        <button type="button" class="close" data-dismiss="modal" #closeBtn aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->


      <div class="modal-header">
        <h4 class="modal-title"> Detailed Booking Information - {{bookedId}}
        </h4>
        <button type="button" class="close" data-dismiss="modal" #closeBtn aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div id="accordion">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                BOOKING INFO
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                <div class="row" style="text-transform:capitalize">
                  <div class="col-md-6">
                    <b>Mode</b> : {{bookedInfo.service}}<br />
                    <b>Plan</b> : {{bookedInfo.pkgInfo.pkgPlan}}<br />
                    <b>Addons</b> :
                    <span *ngFor="let addOn of bookedInfo.addOnDetails; index as ads">
                      <span style="padding:3px;" *ngIf="(addOn | lowercase) == 'porter service'"><button type="button"
                          class="btn btn-outline-primary btn-sm">P</button></span>
                      <span *ngIf="(addOn | lowercase) == 'lounge'"><button type="button"
                          class="btn btn-outline-success btn-sm">L</button></span>
                    </span>
                    <span *ngIf="!bookedInfo.addOnDetails">
                      <button type="button" class="btn btn-outline-secondary btn-sm">None</button>
                    </span>
                    <br />
                  </div>
                  <div class="col-md-6">
                    <b>Status</b> : {{bookedInfo.status}}<br />
                    <b>Package</b> : {{bookedInfo.pkgInfo.pkgName}}<br />
                    <b>Prefered Language</b> :
                    <span *ngIf="bookedInfo.prefLang == 'en'">English</span>
                    <span *ngIf="bookedInfo.prefLang == 'hi'">Hindi</span>
                    <span *ngIf="bookedInfo.prefLang == 'tl'">Telugu</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                FLIGHT INFO
              </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <div *ngIf="bookedInfo.service != 'transfer'" class="row">
                  <div class="col-md-8">
                    <b>Flight No</b> : {{bookedInfo.flInfo.flNo}}<br />
                    <b>Flight Date Time</b> : {{bookedInfo.flInfo.flTimeLabel1}} |
                    {{bookedInfo.flInfo.flTimeLabel2}}<br />
                    <b>Origin/Destination</b> : {{bookedInfo.flInfo.originFull}} - To -
                    {{bookedInfo.flInfo.destFull}}<br />
                  </div>
                  <div class="col-md-4">
                    <b>Flight Name</b> : {{bookedInfo.flInfo.airLine}}<br />
                    <b>Flight Status</b> : <br />
                  </div>
                </div>
                <div *ngIf="bookedInfo.service == 'transfer'">
                  <div *ngIf="bookedInfo.flInfo.arrivalInfo" class="row">
                    <div class="col-md-8">
                      <h4>Arrival Information</h4>
                      <b>Flight No</b> : {{bookedInfo.flInfo.arrivalInfo.flNo}}<br />
                      <b>Flight Date Time</b> : {{bookedInfo.flInfo.arrivalInfo.flTimeLabel1}} |
                      {{bookedInfo.flInfo.arrivalInfo.flTimeLabel2}}<br />
                      <b>Origin/Destination</b> : {{bookedInfo.flInfo.arrivalInfo.originFull}} - To -
                      {{bookedInfo.flInfo.arrivalInfo.destFull}}<br />
                    </div>
                    <div class="col-md-4">
                      <h4 class="invisible">Arrival Information</h4>
                      <b>Flight Name</b> : {{bookedInfo.flInfo.arrivalInfo.airLine}}<br />
                      <b>Flight Status</b> : <br />
                    </div>
                  </div>
                  <div *ngIf="bookedInfo.flInfo.departureInfo" class="row">
                    <div class="col-md-8">
                      <h4>Departure Information</h4>
                      <b>Flight No</b> : {{bookedInfo.flInfo.departureInfo.flNo}}<br />
                      <b>Flight Date Time</b> : {{bookedInfo.flInfo.departureInfo.flTimeLabel1}} |
                      {{bookedInfo.flInfo.departureInfo.flTimeLabel2}}<br />
                      <b>Origin/Destination</b> : {{bookedInfo.flInfo.departureInfo.originFull}} - To -
                      {{bookedInfo.flInfo.departureInfo.destFull}}<br />
                    </div>
                    <div class="col-md-4">
                      <h4 class="invisible">Departure Information</h4>
                      <b>Flight Name</b> : {{bookedInfo.flInfo.departureInfo.airLine}}<br />
                      <b>Flight Status</b> : <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                  SLOT/GRO INFO
                </a>
              </div>
              <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6" *ngIf="bookedInfo.slotInfo.groInfo">
                      <!-- <b>Handling GRO</b> : <br /> -->
                      <b>GRO Mobile</b> : {{bookedInfo.slotInfo.groInfo.mobileNo}}<br />
                      <b>GRO Name</b> : {{bookedInfo.slotInfo.groInfo.name}} <br />
                      <b>GRO Email</b> : {{bookedInfo.slotInfo.groInfo.email}} <br />
                      <b>Assign Date</b> : {{getDate(bookedInfo.slotInfo.groInfo.assignDate)}} <br />
                      <button type="button" (click)="reAssign(bookedInfo.slotInfo.groInfo.uid)"
                        class="btn btn-primary">RE
                        ASSIGN</button>
                      <div class="form-group" *ngIf="othersGro && othersGro.length > 0">
                        <label for="sel1">Other GRO:</label>
                        <select class="form-control" [(ngModel)]="selectedGro">
                          <option value="">--Select GRO--</option>
                          <option *ngFor="let gro of othersGro; index as g" value="{{gro.objId}}">{{gro.value.name}}
                          </option>
                        </select>
                        <button type="button" (click)="_toUpdate(bookedInfo.service,selectedGro)"
                          class="btn btn-dark mt-4">Update</button>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="!bookedInfo.slotInfo.groInfo">
                      <div class="alert alert-info">
                        <strong>Waiting for GRO Allocation</strong>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <b>Slot Date Time</b>: {{bookedInfo.slotInfo.slotTimeLabel1}} |
                      {{bookedInfo.slotInfo.slotTimeLabel2}}<br />
                      <!-- <button type="button" class="btn btn-outline-success">Re-Assign</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                  GUEST INFO
                </a>
              </div>
              <div id="collapseFour" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <b> Service OTP : </b> {{bookedInfo.serviceOTP}} <br />
                      <b> No.of Guest : </b> {{bookedInfo.guestInfo.adultCount + bookedInfo.guestInfo.childcount +
                      bookedInfo.guestInfo.infantcount}}
                      <br />
                      <table id="example" class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>S.no</th>
                            <th>Name</th>
                            <th>Mobile Number</th>
                            <th>DOB</th>
                            <th>Email</th>
                            <th>PNR No</th>
                            <th>National</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let guest of bookedInfo.guestInfo.guestInfo; index as g">
                            <td>{{g+1}}</td>
                            <td>{{guest.firstName}}{{guest.lastName}}</td>
                            <td>{{guest.mobileNumber}}</td>
                            <td>{{guest.dob}}</td>
                            <td>{{guest.email}}</td>
                            <td>{{guest.pnrNo}}</td>
                            <td>{{guest.national}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card" *ngIf="bookedInfo.status == 'started' || bookedInfo.status == 'completed'">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                  STATUS INFO
                </a>
              </div>
              <div id="collapseFive" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <div class="container-fluid">
                    <br /><br />
                    <ul id="progressbar" *ngIf="bookedInfo.serviceList">
                      <li *ngFor="let sl of bookedInfo.serviceList; index as bSl"
                        [ngClass]="(sl.checked == 'true')?'active':''">
                        {{sl.title}} <br /> {{sl.completedAt}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Re-schedule -->
<div class="modal" id="reSchedule" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" *ngIf="bookedSlot">
      <!-- Modal Header -->
      <div class="modal-header">
        <p class="fs-1 fw_700 d-inline-block text-center w-100">Reschedule Your Slot</p>
        <button type="button" class="close" data-dismiss="modal" #closeBtn aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="modal-body" *ngFor="let time of bookedSlot, let item=index">
        <label class="text-center res_label" (click)="chooseTime()">
          {{time.frtime}}<sub>{{time.frmeridian}}</sub>
          - {{time.totime}}<sub>{{time.tomeridian}}</sub>
        </label>
      </div>
    </div>
  </div>
</div>