
<app-spinner></app-spinner>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../assets/images/logo.png" id="icon" alt="User Icon" />
      <br />
      <p style="padding:5px;">Welcome! Please login to your account.</p>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" [(ngModel)]="email" placeholder="email">
      <input type="password" id="password" class="fadeIn third" name="login" [(ngModel)]="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" (click)="doLogin()" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <!-- <div id="formFooter">
      <a class="underlineHover" href="#">Go to the Site</a>
    </div> -->

  </div>
</div>