.top
{
    padding-top:50px;
}
.nav-mytabs {
    margin-top: 2rem;
  }
   
  .nav-mytabs li:not(:last-child) {
    margin-right: 7px;
  }
   
  .nav-mytabs a {
    position: relative;
    top: 4px;
    padding: 10px 25px;
    border-radius: 2px 2px 0 0;
    background: white;
    color: black;
    opacity: 0.7;
    transition: all 0.1s ease-in-out;
  }
   
  .nav-mytabs a.active, 
  .nav-mytabs a:hover {
    opacity: 1;
    top: 0;
  }
   
  .mytab-content {
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 0 4px 4px 4px;
    background: white;
  }


/*indra update*/
h4.modal-title {
  width: 100%;
  text-align: center;
  color:#660032;
}
.modal-content input {
  padding: 3px 15px;
  border-radius: 3px;
  border: 1px solid #ddd;
}
.modal-content p{
  margin-bottom: 15px;
}
.modal-body{
  line-height: 39px;
}