<app-sidebar></app-sidebar>
<app-spinner></app-spinner>
<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4 top side_main bgColor">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h4 style="text-align:center">Package Details – Edit your package’s cost details, offer details here</h4>
      </div>
      <h6>Select your type of package to edit</h6>
  <ul class="nav nav-mytabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
        aria-selected="true">Arrival</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history"
        aria-selected="false">Departure</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="city-attractions-tab" data-toggle="tab" href="#city-attractions" role="tab" aria-controls="city-attractions"
        aria-selected="false">Transfer</a>
    </li>
  </ul>
  <div class="tab-content mytab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="table-responsive">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>Services offered</th>
              <th>Domestic</th>
              <th>International</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let package of arrivalListService; let i = index;">
              <td>{{package}}</td>
              <td>{{isArrivalServiceAvailable(package, serviceList[0].domestic.pkgServices)}}</td>
              <td>{{isArrivalServiceAvailable(package, serviceList[0].international.pkgServices)}}</td>
            </tr>
            <tr>
              <td><b>Price</b></td>
              <td (click)="editArrivalPackageAmount(0, 'Domestic', serviceList[0].domestic.services[0].name, serviceList[0].domestic.services[0].amount)"><b><a href="javascript:void(0)">{{serviceList && serviceList[0].domestic.services[0].amount}}</a></b></td>
              <td (click)="editArrivalPackageAmount(0, 'International', serviceList[0].international.services[0].name, serviceList[0].international.services[0].amount)"><b><a href="javascript:void(0)">{{serviceList && serviceList[0].international.services[0].amount}}</a></b></td>
            </tr>
            <tr>
              <td>{{serviceList && serviceList[0].domestic.services[1].name | titlecase}}</td>
              <td (click)="editArrivalPackageAmount(1, 'Domestic', serviceList[0].domestic.services[1].name, serviceList[0].domestic.services[1].amount)"><b><a href="javascript:void(0)">{{serviceList && serviceList[0].domestic.services[1].amount}}</a></b></td>
              <td (click)="editArrivalPackageAmount(1, 'International', serviceList[0].international.services[1].name, serviceList[0].international.services[1].amount)"><b><a href="javascript:void(0)">{{ serviceList && serviceList[0].international.services[1].amount}}</a></b></td>
            </tr>
            <tr>
              <td><b>Total Price (Inclusive of taxes)</b></td>
              <td><b>{{serviceList && serviceList[0].domestic.services[0].amount + serviceList[0].domestic.services[1].amount}}</b></td>
              <td><b>{{serviceList && serviceList[0].international.services[0].amount + serviceList[0].international.services[1].amount}}</b></td>
            </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
      <div class="table-responsive">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>Services offered</th>
              <th colspan="4">oneTimePlan</th>
              <th colspan="4">Privilege Plan</th>
            </tr>
            <tr>
              <th></th>
              <th colspan="2">Domestic</th>
              <th colspan="2">International</th>
              <th colspan="2">Domestic</th>
              <th colspan="2">International</th>
            </tr>
            <tr>
              <th>Type of services</th>
              <th>Gold</th>
              <th>Platinum</th>
              <th>Gold</th>
              <th>Platinum</th>
              <th>Gold</th>
              <th>Platinum</th>
              <th>Gold</th>
              <th>Platinum</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let depart of departureListService;let i = index;">
              <td>{{depart}}</td>
              <td>{{isDepartureServiceAvailable(depart, serviceList[1].oneTimePlan["packages"]["gold"].pkgServices)}}</td>
              <td>{{isDepartureServiceAvailable(depart, serviceList[1].oneTimePlan["packages"]["platinum"].pkgServices)}}</td>
              <td>{{isDepartureServiceAvailable(depart, serviceList[1].oneTimePlan["packages"]["gold"].pkgServices)}}</td>
              <td>{{isDepartureServiceAvailable(depart, serviceList[1].oneTimePlan["packages"]["platinum"].pkgServices)}}</td>
              
              <td>{{isDepartureServiceAvailable(depart, serviceList[1].privilegePlan["packages"]["gold"].pkgServices)}}</td>
              <td>{{isDepartureServiceAvailable(depart, serviceList[1].privilegePlan["packages"]["platinum"].pkgServices)}}</td>
              <td>{{isDepartureServiceAvailable(depart, serviceList[1].privilegePlan["packages"]["gold"].pkgServices)}}</td>
              <td>{{isDepartureServiceAvailable(depart, serviceList[1].privilegePlan["packages"]["platinum"].pkgServices)}}</td>
            </tr>
            <tr>
              <td><b>Actual Price (Inclusive of taxes)</b></td>
              <td (click)="editDepartPackageAmount('oneTimePlan', 'Gold', 'Domestic', serviceList[1].oneTimePlan['packages']['gold'].domesticAmt)"><b><a href="javascript:void(0)">{{serviceList && serviceList[1].oneTimePlan["packages"]["gold"].domesticAmt}}</a></b></td>
              <td (click)="editDepartPackageAmount('oneTimePlan', 'Platinum', 'Domestic',  serviceList[1].oneTimePlan['packages']['platinum'].domesticAmt)"><b><a href="javascript:void(0)">{{serviceList && serviceList[1].oneTimePlan["packages"]["platinum"].domesticAmt}}</a></b></td>
              <td (click)="editDepartPackageAmount('oneTimePlan', 'Gold', 'International', serviceList[1].oneTimePlan['packages']['gold'].internationalAmt)"><b><a href="javascript:void(0)">{{serviceList && serviceList[1].oneTimePlan["packages"]["gold"].internationalAmt}}</a></b></td>
              <td (click)="editDepartPackageAmount('oneTimePlan', 'Platinum', 'International', serviceList[1].oneTimePlan['packages']['platinum'].internationalAmt)"><b><a href="javascript:void(0)">{{serviceList && serviceList[1].oneTimePlan["packages"]["platinum"].internationalAmt}}</a></b></td>
               
              <td (click)="editDepartPackageAmount('privilegePlan', 'Gold', 'Domestic', serviceList[1].privilegePlan['packages']['gold'].domesticAmt)"><b><a href="javascript:void(0)">{{serviceList && serviceList[1].privilegePlan["packages"]["gold"].domesticAmt}}</a></b></td>
              <td (click)="editDepartPackageAmount('privilegePlan', 'Platinum', 'Domestic', serviceList[1].privilegePlan['packages']['platinum'].domesticAmt)"><b><a href="javascript:void(0)">{{serviceList && serviceList[1].privilegePlan["packages"]["platinum"].domesticAmt}}</a></b></td>
              <td (click)="editDepartPackageAmount('privilegePlan', 'Gold', 'International', serviceList[1].privilegePlan['packages']['gold'].internationalAmt)"><b><a href="javascript:void(0)">{{serviceList && serviceList[1].privilegePlan["packages"]["gold"].internationalAmt}}</a></b></td>
              <td (click)="editDepartPackageAmount('privilegePlan', 'Platinum', 'International', serviceList[1].privilegePlan['packages']['platinum'].internationalAmt)"><b><a href="javascript:void(0)">{{serviceList && serviceList[1].privilegePlan["packages"]["platinum"].internationalAmt}}</a></b></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="city-attractions" role="tabpanel" aria-labelledby="city-attractions-tab">
      <div class="table-responsive">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>Services offered</th>
              <th colspan="2">DOMESTIC - DOMESTIC</th>
              <th colspan="2">DOMESTIC - INTERNATIONAL</th>
              <th colspan="2">INTERNATIONAL - DOMESTIC</th>
            </tr>
            <tr>
              <th>Type of services</th>
              <th>Gold</th>
              <th>Platinum</th>
              <th>Gold</th>
              <th>Platinum</th>
              <th>Gold</th>
              <th>Platinum</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transfer of transferListService;">
              <td>{{transfer}}</td>
              <td>{{isTransferServiceAvailable(transfer, serviceList[2].d2d["packages"]["gold"].pkgServices)}}</td>
              <td>{{isTransferServiceAvailable(transfer, serviceList[2].d2d["packages"]["platinum"].pkgServices)}}</td>
              <td>{{isTransferServiceAvailable(transfer, serviceList[2].d2i["packages"]["gold"].pkgServices)}}</td>
              <td>{{isTransferServiceAvailable(transfer, serviceList[2].d2i["packages"]["platinum"].pkgServices)}}</td>
              <td>{{isTransferServiceAvailable(transfer, serviceList[2].i2d["packages"]["gold"].pkgServices)}}</td>
              <td>{{isTransferServiceAvailable(transfer, serviceList[2].i2d["packages"]["platinum"].pkgServices)}}</td>
            </tr>
            <tr>
              <td><b>Actual Price (Inclusive of taxes)</b></td>
              <td (click)="editTransferPackageAmount('d2d', 'Gold', serviceList[2].d2d['packages']['gold'].pkgAmount)"><b><a href="javascript:void(0)">{{serviceList && serviceList[2].d2d["packages"]["gold"].pkgAmount}}</a></b></td>
              <td (click)="editTransferPackageAmount('d2d', 'Platinum', serviceList[2].d2d['packages']['platinum'].pkgAmount)"><b><a href="javascript:void(0)">{{serviceList && serviceList[2].d2d["packages"]["platinum"].pkgAmount}}</a></b></td>
              <td (click)="editTransferPackageAmount('d2i', 'Gold', serviceList[2].d2i['packages']['gold'].pkgAmount)"><b><a href="javascript:void(0)">{{serviceList && serviceList[2].d2i["packages"]["gold"].pkgAmount}}</a></b></td>
              <td (click)="editTransferPackageAmount('d2i', 'Platinum', serviceList[2].d2i['packages']['platinum'].pkgAmount)"><b><a href="javascript:void(0)">{{serviceList && serviceList[2].d2i["packages"]["platinum"].pkgAmount}}</a></b></td>
              <td (click)="editTransferPackageAmount('i2d', 'Gold', serviceList[2].i2d['packages']['gold'].pkgAmount)"><b><a href="javascript:void(0)">{{serviceList && serviceList[2].i2d["packages"]["gold"].pkgAmount}}</a></b></td>
              <td (click)="editTransferPackageAmount('i2d', 'Platinum', serviceList[2].i2d['packages']['platinum'].pkgAmount)"><b><a href="javascript:void(0)">{{serviceList && serviceList[2].i2d["packages"]["platinum"].pkgAmount}}</a></b></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>


<!-- The Modal -->
<div class="modal fade" id="myModal" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title" style="text-transform:uppercase">
                  <p><span *ngIf="selectedPlan">{{selectedPlan}} - </span>{{selectedPackage}}</p> 
              </h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-12">
                      <h5>{{selectedTravel}}</h5>
                      Current Amount:<b> {{currentAmount}}</b><br/>
                      New Amount: <input type="number" min="0" oninput="validity.valid||(value='')" class="fadeIn second" name="amount" (keyup)="validatePackage(newAmount)" [(ngModel)]="newAmount" placeholder="Enter New Amount"/>
                  </div>
              </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" class="btn btn-success" [disabled]='submitEnabled' (click)="updatePackageValue()">Submit</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="newAmount=''">Close</button>
          </div>

      </div>
  </div>
</div> 