.top
{
    padding-top:50px;
}
.capitalize
{
text-transform: capitalize !important;
}
img {
    border: 1px solid #ddd; 
    border-radius: 4px;  
    padding: 5px; 
    width: 100px; 
  }
  
  /* Add a hover effect (blue shadow) */
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }