<app-sidebar></app-sidebar>
<app-spinner></app-spinner>
<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4 top side_main bgColor">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4 style="text-align:center">Today Scheduled Bookings - {{bookingInfo?bookingInfo.length:0}}</h4>
    <button id="btnExport" class="btn btn-sm btn-outline-secondary" (click)="exportToExcel($event)">Export To
      Excel</button>
  </div>
  <div class="table-responsive">
    <table id="table_show" class="table table-striped table-bordered capitalize" style="width:100%">
      <thead>
        <tr>
          <th>#</th>
          <th>Booking ID</th>
          <th>service</th>
          <th>Date Of Flight(IST)</th>
          <th>Slot(IST)</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of bookingInfo; index as bs">
          <td>{{bs+1}}</td>
          <td><button type="button" (click)="_bookedInfo(result)" data-toggle="modal" data-target="#info"
            class="btn btn-outline-info btn-sm">{{result.bookingID}}</button>
          </td>
          <td>{{result.service}}</td>
          <td *ngIf="result.service != 'transfer'" style="font-size: small">{{result.flInfo.flTimeLabel1}} |
            {{result.flInfo.flTimeLabel2.replace('(IST)','')}}</td>
          <td *ngIf="(result.service) == 'transfer'" style="font-size: small">
            {{result.flInfo.departureInfo.flTimeLabel1}}
            |
            {{result.flInfo.departureInfo.flTimeLabel2.replace('(IST)','')}}</td>
          <td style="font-size: small"> {{result.slotInfo.slotTimeLabel1}} |
            {{result.slotInfo.slotTimeLabel2.replace('(IST)','')}}</td>
          <td style="text-transform: capitalize;">{{result.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="info" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" *ngIf="bookedInfo_1" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Detailed Booking Information - {{bookingID}}
        </h4>
        <button type="button" class="close" data-dismiss="modal" #closeBtn aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div id="accordion">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                BOOKING INFO
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                <div class="row" style="text-transform:capitalize">
                  <div class="col-md-6">
                    <b>Mode</b> : {{bookedInfo_1.service}}<br />
                    <b>Plan</b> : {{bookedInfo_1.pkgInfo.pkgPlan}}<br />
                    <b>Addons</b> :
                    <span *ngFor="let addOn of bookedInfo_1.addOnDetails; index as ads">
                      <span style="padding:3px;" *ngIf="(addOn | lowercase) == 'porter service'"><button type="button"
                          class="btn btn-outline-primary btn-sm">P</button></span>
                      <span *ngIf="(addOn | lowercase) == 'lounge'"><button type="button"
                          class="btn btn-outline-success btn-sm">L</button></span>
                    </span>
                    <span *ngIf="!bookedInfo_1.addOnDetails">
                      <button type="button" class="btn btn-outline-secondary btn-sm">None</button>
                    </span>
                    <br />
                  </div>
                  <div class="col-md-6">
                    <b>Status</b> : {{bookedInfo_1.status}}<br />
                    <b>Package</b> : {{bookedInfo_1.pkgInfo.pkgName}}<br />
                    <b>Prefered Language</b> :
                    <span *ngIf="bookedInfo_1.prefLang == 'en'">English</span>
                    <span *ngIf="bookedInfo_1.prefLang == 'hi'">Hindi</span>
                    <span *ngIf="bookedInfo_1.prefLang == 'tl'">Telugu</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                FLIGHT INFO
              </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <div *ngIf="bookedInfo_1.service != 'transfer'" class="row">
                  <div class="col-md-8">
                    <b>Flight No</b> : {{bookedInfo_1.flInfo.flNo}}<br />
                    <b>Flight Date Time</b> : {{bookedInfo_1.flInfo.flTimeLabel1}} |
                    {{bookedInfo_1.flInfo.flTimeLabel2}}<br />
                    <b>Origin/Destination</b> : {{bookedInfo_1.flInfo.originFull}} - To -
                    {{bookedInfo_1.flInfo.destFull}}<br />
                  </div>
                  <div class="col-md-4">
                    <b>Flight Name</b> : {{bookedInfo_1.flInfo.airLine}}<br />
                    <b>Flight Status</b> : <br />
                  </div>
                </div>
                <div *ngIf="bookedInfo_1.service == 'transfer'">
                  <div *ngIf="bookedInfo_1.flInfo.arrivalInfo" class="row">
                    <div class="col-md-8">
                      <h4>Arrival Information</h4>
                      <b>Flight No</b> : {{bookedInfo_1.flInfo.arrivalInfo.flNo}}<br />
                      <b>Flight Date Time</b> : {{bookedInfo_1.flInfo.arrivalInfo.flTimeLabel1}} |
                      {{bookedInfo_1.flInfo.arrivalInfo.flTimeLabel2}}<br />
                      <b>Origin/Destination</b> : {{bookedInfo_1.flInfo.arrivalInfo.originFull}} - To -
                      {{bookedInfo_1.flInfo.arrivalInfo.destFull}}<br />
                    </div>
                    <div class="col-md-4">
                      <h4 class="invisible">Arrival Information</h4>
                      <b>Flight Name</b> : {{bookedInfo_1.flInfo.arrivalInfo.airLine}}<br />
                      <b>Flight Status</b> : <br />
                    </div>
                  </div>
                  <div *ngIf="bookedInfo_1.flInfo.departureInfo" class="row">
                    <div class="col-md-8">
                      <h4>Departure Information</h4>
                      <b>Flight No</b> : {{bookedInfo_1.flInfo.departureInfo.flNo}}<br />
                      <b>Flight Date Time</b> : {{bookedInfo_1.flInfo.departureInfo.flTimeLabel1}} |
                      {{bookedInfo_1.flInfo.departureInfo.flTimeLabel2}}<br />
                      <b>Origin/Destination</b> : {{bookedInfo_1.flInfo.departureInfo.originFull}} - To -
                      {{bookedInfo_1.flInfo.departureInfo.destFull}}<br />
                    </div>
                    <div class="col-md-4">
                      <h4 class="invisible">Departure Information</h4>
                      <b>Flight Name</b> : {{bookedInfo_1.flInfo.departureInfo.airLine}}<br />
                      <b>Flight Status</b> : <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                  SLOT/GRO INFO
                </a>
              </div>
              <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6" *ngIf="bookedInfo_1.slotInfo.groInfo">
                      <!-- <b>Handling GRO</b> : <br /> -->
                      <b>GRO Mobile</b> : {{bookedInfo_1.slotInfo.groInfo.mobileNo}}<br />
                      <b>GRO Name</b> : {{bookedInfo_1.slotInfo.groInfo.name}} <br />
                      <b>GRO Email</b> : {{bookedInfo_1.slotInfo.groInfo.email}} <br />
                      <b>Assign Date</b> : {{getDate(bookedInfo_1.slotInfo.groInfo.assignDate)}} <br />
                      <button type="button" (click)="reAssign(bookedInfo_1.slotInfo.groInfo.uid)"
                        class="btn btn-primary">RE
                        ASSIGN</button>
                      <div class="form-group" *ngIf="othersGro && othersGro.length > 0">
                        <label for="sel1">Other GRO:</label>
                        <select class="form-control" [(ngModel)]="selectedGro">
                          <option value="">--Select GRO--</option>
                          <option *ngFor="let gro of othersGro; index as g" value="{{gro.objId}}">{{gro.value.name}}
                          </option>
                        </select>
                        <button type="button" (click)="_toUpdate(bookedInfo_1.service,selectedGro)"
                          class="btn btn-dark mt-4">Update</button>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="!bookedInfo_1.slotInfo.groInfo">
                      <div class="alert alert-info">
                        <strong>Waiting for GRO Allocation</strong>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <b>Slot Date Time</b>: {{bookedInfo_1.slotInfo.slotTimeLabel1}} |
                      {{bookedInfo_1.slotInfo.slotTimeLabel2}}<br />
                      <!-- <button type="button" class="btn btn-outline-success">Re-Assign</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                  GUEST INFO
                </a>
              </div>
              <div id="collapseFour" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <b> Service OTP : </b> {{bookedInfo_1.serviceOTP}} <br />
                      <b> No.of Guest : </b> {{bookedInfo_1.guestInfo.adultCount + bookedInfo_1.guestInfo.childcount +
                      bookedInfo_1.guestInfo.infantcount}}
                      <br />
                      <table id="example" class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>S.no</th>
                            <th>Name</th>
                            <th>Mobile Number</th>
                            <th>DOB</th>
                            <th>Email</th>
                            <th>PNR No</th>
                            <th>National</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let guest of bookedInfo_1.guestInfo.guestInfo; index as g">
                            <td>{{g+1}}</td>
                            <td>{{guest.firstName}}{{guest.lastName}}</td>
                            <td>{{guest.mobileNumber}}</td>
                            <td>{{guest.dob}}</td>
                            <td>{{guest.email}}</td>
                            <td>{{guest.pnrNo}}</td>
                            <td>{{guest.national}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card" *ngIf="bookedInfo_1.status == 'started' || bookedInfo_1.status == 'completed'">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                  STATUS INFO
                </a>
              </div>
              <div id="collapseFive" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <div class="container-fluid">
                    <br /><br />
                    <ul id="progressbar" *ngIf="bookedInfo_1.serviceList">
                      <li *ngFor="let sl of bookedInfo_1.serviceList; index as bSl"
                        [ngClass]="(sl.checked == 'true')?'active':''">
                        {{sl.title}} <br /> {{sl.completedAt}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>