.top
{
    padding-top:50px;
}
.capitalize
{
text-transform: capitalize !important;
}
img {
    border: 1px solid #ddd; 
    border-radius: 4px;  
    padding: 5px; 
    width: 100px; 
  }
  
  /* Add a hover effect (blue shadow) */
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

  .date_inp{
    border-radius: 4px;
    padding: 0px 10px;
    border: 1px solid #2c2c2c50;
    height:35px;
  }
  .search_dt{
    border: 1px solid #EE9D0E;
    background: #EE9D0E;
    color: #fff;
    border-radius: 0px;
    transition: 0.5s all ease;
    height:35px;
    padding: 0px 10px;
    border-radius: 6px;
    cursor: pointer;
  }