<app-sidebar></app-sidebar>
<app-spinner></app-spinner>
<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4 top side_main bgColor">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4 style="text-align:center">Payment Details – Overview of details of the users with all of the Payment status</h4>
  </div>
  <div class="tab_top">
    <div class="se_by_date mb-3 float-left">
      <div class="date_inp_sec d-inline-block mr-2">
        <label class="d-block">From (Initiated At)</label>
        <input palceholder="From Date" id="a_from_date" readonly />
      </div>
      <div class="date_inp_sec d-inline-block mr-2">
        <label class="d-block">To (Initiated At)</label>
        <input palceholder="To Date" id="a_to_date" readonly />
      </div>
      <div class="date_inp_sec d-inline-block">
        <button class="search_dt" (click)="filterTable('#table_show', '#a_from_date', '#a_to_date', 5)">Search</button>
      </div>
    </div>
    <button id="btnExport" class="btn btn-sm btn-outline-secondary float-right" (click)="exportToExcel($event)">Export
      To
      Excel</button>
    <div class="clearfix"></div>
  </div>
  <div class="table-responsive">
    <table id="table_show" class="table table-striped table-bordered capitalize" style="width:100%">
      <thead>
        <tr>
          <th>#</th>
          <th>Booking ID</th>
          <th>Amount</th>
          <th>Status</th>
          <th>User</th>
          <th>Initiated At</th>
          <th>Paid At</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of paymentsObj; index as p">
          <td>{{p+1}}</td>
          <td>{{result.value.bookingID}}</td>
          <td>{{result.value.status == 'success'?result.value.axisResp.AMT:'-'}}</td>
          <td>
            <button type="button"
              [ngClass]="{'btn btn-success btn-sm capitalize':result.value.status =='success','btn btn-primary btn-sm capitalize' : result.value.status == 'initiated','btn btn-danger btn-sm capitalize':result.value.status == 'failed'}"
              class="">{{result.value.status}}</button>
          </td>
          <td><button type="button" data-toggle="modal" (click)="getUserInfo(result.value.userID)"
              data-target="#userInfo" class="btn btn-info btn-sm">Info</button></td>
          <td>{{getDate(result.value.initiatedAt)}}</td>
          <td>{{result.value.status == 'success'?getDate(result.value.paidAt):'-'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive">
    <div id="paymentDetails" style="display: none">
      <table id="table_hidden" *ngIf="paymentsObj" class="tbl table-striped table-bordered capitalize"
        style="width:100%">
        <thead>
          <tr>
            <th>#</th>
            <th>Booking ID</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Initiated At</th>
            <th>Paid At</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of paymentsObj; index as p">
            <td>{{p+1}}</td>
            <td>{{result.value.bookingID}}</td>
            <td>{{result.value.status === 'success'?result.value.axisResp.AMT:'-'}}</td>
            <td>{{result.value.status}}</td>
            <td>{{getDate(result.value.initiatedAt)}}</td>
            <td>{{result.value.status === 'success'?getDate(result.value.paidAt):'-'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
<!-- Modal -->
<div class="modal fade" id="userInfo" tabindex="-1" role="dialog" aria-labelledby="userInfo" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div *ngIf="userObj" class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{userObj.profile.name?userObj.profile.name:'User Info'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->

      <div class="modal-header">
        <h4 class="modal-title"> {{userObj.profile.name?userObj.profile.name:'User Info'}}
        </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

        <div id="accordion">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                Profile Information
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                <div class="row">
                  <div class="col-8">
                    <p class="capitalize" *ngIf="userObj.profile.name">Name : {{userObj.profile.name}}</p>
                    <p *ngIf="userObj.profile.phoneno">Phoneno : {{userObj.profile.phoneno}}</p>
                    <p *ngIf="userObj.profile.email">Email : {{userObj.profile.email}}</p>
                    <p class="capitalize" *ngIf="userObj.profile.state">State : {{userObj.profile.state}}</p>
                    <p class="capitalize" *ngIf="userObj.profile.country">Country : {{userObj.profile.country}}</p>
                    <p class="capitalize" *ngIf="userObj.tNc">T&C : {{userObj.tNc}}</p>
                  </div>
                  <div class="col-4 pr-0">
                    <img class="float-right" src="{{userObj.profile.profileImg}}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                Collapsible Group Item #2
              </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum..
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
