<nav class="navbar navbar-light fixed-top bg-light flex-md-nowrap p-0 shadow">
  <div class="float-left">
    <a (click)="_toOpenSideMenu()" data-activates="slide-out" class="button-collapse toggle_menu"><i
        class="fa fa-bars ml-3 bar_open" aria-hidden="true"></i> <i class="fa fa-times bar_close"
        aria-hidden="true"></i></a>
  </div>
  <a class="navbar-brand float-left col-sm-3 col-md-2 mr-0 clr_white border-0 text-center" routerLink="/dashboard">GMR
    PRIME</a>
  <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <!-- <a class="nav-link" routerLink="/login">Sign out</a> -->
      <a class="nav-link clr_white" style="cursor:pointer;" (click)="logOut()">Sign out</a>
    </li>
  </ul>
</nav>


<nav class="col-md-2 d-none d-md-block bg-sidebar sidebar">
  <div id="slide-out" class="side-nav sn-bg-4 fixed">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/dashboard">
            <!-- <i class="fa fa-tachometer" aria-hidden="true"></i> -->
            <img src="../../assets/images/dashboard.png" alt="">
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/manage-roster">
            <img src="../../assets/images/manage-roster.png" alt="">
            Manage Roster
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/manage-bookings">
            <img src="../../assets/images/manage-bookings.png" alt="">
            Manage Bookings
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/manage-users">
            <img src="../../assets/images/manage-admin-grl-gro.png" alt="">
            Manage Admin/GRL/GRO
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/package-details">
            <img src="../../assets/images/package-details.png" alt="">
            Package Details
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/payments">
            <img src="../../assets/images/payment.png" alt="">
            Payments
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/booking">
            <img src="../../assets/images/payment.png" alt="">
            Bookings
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/tdy-scheduled">
            <img src="../../assets/images/payment.png" alt="">
            Scheduled Bookings
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/guest-info">
            <img src="../../assets/images/guest-details.png" alt="">
            Guest Details
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/enquiry-details">
            <img src="../../assets/images/enquiry-details.png" alt="">
            Enquiry Details
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse" data-target="#reportsLink"
            [routerLinkActive]="['active']">
            <img src="../../assets/images/report.png" alt="">
            Reports
            <span class="arr">&#62;</span>
          </a>
          <div id="reportsLink" class="collapse">
            <ul class="subLinks">
              <li><a [routerLinkActive]="['active']" routerLink="/booked-details">Booking</a></li>
              <li><a [routerLinkActive]="['active']" routerLink="/cancelled-details">Cancellation</a></li>
              <li><a [routerLinkActive]="['active']" routerLink="/completed-details">Trips Completed</a></li>
              <li><a [routerLinkActive]="['active']" routerLink="/payments">Payments</a></li>
              <li><a [routerLinkActive]="['active']" routerLink="/staff-details">Resource Utilization</a></li>
              <li><a [routerLinkActive]="['active']" routerLink="/enquiry-details">Enquiry Details</a></li>
              <li><a [routerLinkActive]="['active']" routerLink="/gro-logged-details">GRO Logged Details</a></li>
            </ul>
          </div>
        </li>
        <!-- <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/reports">
          <img src="../../assets/images/report.png" alt="">
        </a>
      </li> -->
        <!-- <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/help-center">
          <i class="fa fa-users" aria-hidden="true"></i>
          Help Center
        </a>
      </li> -->
        <li class="nav-item">
          <!-- <a class="nav-link" [routerLinkActive]="['active']" routerLink="/settings">
              <i class="fa fa-users" aria-hidden="true"></i>
              Settings
            </a> -->
          <a class="nav-link collapsed" href="#submenu1" data-toggle="collapse" data-target="#submenu1">
            <img src="../../assets/images/settings.png" alt="">
            Settings
            <span class="arr">&#62;</span>
          </a>
          <div class="collapse" id="submenu1" aria-expanded="false">
            <ul class="flex-column pl-2 nav">
              <!-- <li class="nav-item">
                <a class="nav-link py-0" [routerLinkActive]="['active']" routerLink="/wi-fi">
                  <img src="../../assets/images/wifi.png" alt="">
                  WI-FI
                </a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link py-0" [routerLinkActive]="['active']" routerLink="/terms-and-condition">
                  <img src="../../assets/images/terms-and-condition.png" alt="">
                  Terms and Condition
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link py-0" [routerLinkActive]="['active']" routerLink="/corporate">
                  <img src="../../assets/images/corporate-bulk-booking.png" alt="">
                  Corporate / Bulk Booking
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
