/*
 * Sidebar
 */

 .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  .subLinks {
    padding-left: 0px;
    list-style: none;
}
.subLinks li a{
  text-decoration: none;
  font-weight: 500;
  color: #ccc;
}
.collapse.show ul{
  padding-left:20px;
}
.nav-link.collapsed .arr {
  float: right;
  font-size: 22px;
  line-height: 22px;
  font-family: monospace;
  font-weight: 800;
  transition: 0.5s all ease;
  transform:rotate(0deg);
}
.nav-link .arr {
  float: right;
  font-size: 22px;
  line-height: 22px;
  font-family: monospace;
  font-weight: 800;
  transition: 0.5s all ease;
  transform:rotate(90deg);
}
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }

  .bg-sidebar
  {
      background-color: #43425D;
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #ccc;
    cursor: pointer;
}
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #fff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }

  /*
 * Content
 */

[role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    /* background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
    border-right: 1px #999 solid;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  /*indra update*/
 .sidebar {
    transform: translateX(-100%);
    transition: 1s all ease;
    width: 230px !important;
    max-width: 230px !important;
}
.sidebar.active{
  transform: translateX(0px);
}
.toggle_menu i{
  transform: translateX(0px);
  transition: 1s all ease;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
}
.toggle_menu.active i{
    transform: translateX(200px);
  transition: 1s all ease;
}
.toogle_menu  .bar_open{
  display: block;
  transition: 0.7s all ease;
}
 .bar_close{
  display: none;
  transition: 0.7s all ease;
}
.toggle_menu.active .bar_open {
  display: none !important;
  transition: 0.7s all ease;
}
.toggle_menu.active .bar_close {
  display: block !important;
  transition: 0.7s all ease;
}
.navbar{
  background:#660032 !important;
}
.clr_white{
  color: #fff !important;
}
.bg-sidebar {
  background: #660032;
}

.logo{
  position: absolute;
  left: 6%;
}