<app-sidebar></app-sidebar>
<app-spinner></app-spinner>
<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4 top side_main bgColor">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h4 style="text-align:center">Manage your employee’s roster for the FEBRUARY-2020</h4>
        <div class="form-group">
            <!-- <label for="sel1">Select Year:</label>
            <select class="form-control" [(ngModel)]="selectedYear" (ngModelChange)="onChange($event)">
                <option *ngFor="let year of years; index as y" [ngValue]="year.value">{{year.value}}</option>
            </select> -->
        </div>
        <div class="form-group">
            <!-- <label for="sel1">Select Month:</label>
            <select class="form-control" [(ngModel)]="selectedMonth" (ngModelChange)="onChange($event)">
                <option *ngFor="let month of months; index as m" [ngValue]="month.value">{{month.month}}</option>
            </select> -->
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button id="btnExport" class="btn btn-sm btn-outline-secondary" (click)="exportToExcel($event)">Download
                    Roster</button>
            </div>
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary" (click)="uploadRoster()">Upload New Roster</button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <div id="staffDetails">
            <table *ngIf="rosterGRL && rosterGRO" id="roster" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th *ngFor="let date of dates; index as d">{{getDayName(date,'en-US')}} <br>{{d+1}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr attr.id="{{lead.objId}}" *ngFor="let lead of rosterGRL;index as L">
                        <td style="text-transform:uppercase;">{{lead.value.name}}</td>
                        <td style="text-transform:uppercase;">GRL</td>
                        <td *ngFor="let l of lead.value.schedule;index as LSI" style="cursor:pointer" (click)="_openModel('grl',lead.value.name,lead.objId,l.shift,LSI)"
                            [ngClass]="{'day': l.shift=='D', 'night':l.shift=='N', 'off':l.shift=='O', 'rest':l.shift=='R' }">
                            <span>{{l.shift}}</span>
                        </td>
                    </tr>
                    <tr attr.id="{{officer.objId}}" *ngFor="let officer of rosterGRO;index as O">
                        <td style="text-transform:uppercase;">{{officer.value.name}}</td>
                        <td style="text-transform:uppercase;">GRO</td>
                        <td *ngFor="let o of officer.value.schedule;index as OSI" style="cursor:pointer" (click)="_openModel('gro',officer.value.name,officer.objId,o.shift,OSI)"
                            [ngClass]="{'day': o.shift=='D', 'night':o.shift=='N', 'off':o.shift=='O', 'rest':o.shift=='R' }">
                            <span>{{o.shift}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table *ngIf="rosterGRL && rosterGRO" id="rosterCount" class="table table-striped table-bordered"
            style="width:100%">
            <!-- <thead>
                <tr>
                    <th>Shift</th>
                    <th *ngFor="let date of dates; index as d">{{getDayName(date,'en-US')}} <br>
                        {{d+1}}</th>
                </tr>
            </thead> -->
            <tbody>
                <tr>
                    <td class="day">DAY</td>
                    <td class="day" *ngFor="let date of dates; index as d">
                        <span>{{calcShift(d,'D')}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="night">NIGHT</td>
                    <td class="night" *ngFor="let date of dates; index as d">
                        <span>{{calcShift(d,'N')}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="off">OFF</td>
                    <td class="off" *ngFor="let date of dates; index as d">
                        <span>{{calcShift(d,'O')}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="rest">REST</td>
                    <td class="rest" *ngFor="let date of dates; index as d">
                        <span>{{calcShift(d,'R')}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="container" *ngIf="uploading">
            <h2>Please wait...uploading new roster</h2>
            <div class="progress progress-red">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                    aria-valuemin="0" aria-valuemax="100" [style.width]="percValue + '%'">
                    {{percValue}}%
                </div>
            </div>
        </div>
    </div>
</main>
<!-- The Modal -->
<div class="modal fade" id="myModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{roleName}}-
                    <span style="color:#F7CC8D" *ngIf='shift == "D"'>DAY SHIFT</span>
                    <span style="color:#284575" *ngIf='shift == "N"'>NIGHT SHIFT</span>
                    <span style="color:#ED6F6A" *ngIf='shift == "O"'>OFF SHIFT</span>
                    <span style="color:#E9E9EF" *ngIf='shift == "R"'>REST SHIFT</span>
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                    <p>Choose these options to change your {{roleName}} shift</p>
                <div class="row"> 
                    <div class="col-md-6">     
                        <button *ngIf='shift != "D"' (click)="updateShift('D')" class="daybutton">Change to Day Shift</button>
                        <button *ngIf='shift != "N"' (click)="updateShift('N')" class="nightbutton">Change to Night
                            Shift</button>
                        <button *ngIf='shift != "O"' (click)="updateShift('O')" class="offbutton">Change to Off Shift</button>
                        <button *ngIf='shift != "R"' (click)="updateShift('R')" class="restbutton">Change to Rest Shift</button>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>