.top
{
    padding-top:50px;
}
.center
{
    text-align: center;
}
.day
{
    background-color: #F7CC8D;

}
.night
{
    background-color: #284575;
    color:white;
}
.off
{
    background-color: #ED6F6A;
}
.rest
{
    background-color: #E9E9EF;
}
table#roster {
    font-size: x-small;
}
table#rosterCount {
    font-size: x-small;
}
.progress-red {
    background-color: red;
}
.modal-title {
    text-transform: uppercase;
}
.daybutton {
    background-color: #F7CC8D;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
}
.nightbutton {
    background-color: #284575;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
}
.offbutton {
    background-color: #ED6F6A;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
}
.restbutton {
    background-color: #E9E9EF;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
}
/*indra upadte*/
table#rosterCount tbody tr td:nth-child(1) {
    width: 148px !important;
    text-align: center;
    min-width: 148px !important;
}
table#rosterCount tbody tr td{
min-width: 47px !important;
}
table td {
    width: 26px !important;
    text-align: center;
}
table#roster tbody tr td:nth-child(1) {
    width: 140px !important;
    word-break: break-all;
    max-width: 140px !important;
}
table#roster thead tr th:nth-child(1) {
    width: 100px !important;
    max-width: 100px !important;
    display: block;
    border: 0;
}
.table-bordered thead td, .table-bordered thead th {
    min-width: 47px !important;
}
@media (min-width:1650px){
    table#rosterCount tbody tr td:nth-child(1) {
        width: 171px !important;
        text-align: center;
        min-width: 171px !important;
    }
}