.top
{
    padding-top:50px;
}

.nav-mytabs {
  margin-top: 2rem;
}
 
.nav-mytabs li:not(:last-child) {
  margin-right: 7px;
}
 
.nav-mytabs a {
  position: relative;
  top: 4px;
  padding: 10px 25px;
  border-radius: 2px 2px 0 0;
  background: white;
  color: black;
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}
 
.nav-mytabs a.active, 
.nav-mytabs a:hover {
  opacity: 1;
  top: 0;
}
 
.mytab-content {
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: 0 4px 4px 4px;
  background: white;
}
.icons{
  text-align: center;
}
.icons i{
  font-size: 18px;
}
.day
{
    background-color: #F7CC8D;
    color: #fff;
    text-align: center;
    width: 30%;
    padding: 5px;
    font-size: 12px;
}
.night
{
    background-color: #284575;
    color: #fff;
    text-align: center;
    width: 30%;
    padding: 5px;
    font-size: 12px;
}
.off
{
    background-color: #FF6565;
    color: #fff;
    text-align: center;
    width: 30%;
    padding: 5px;
    font-size: 12px;
}
.rest
{
    background-color: #E9E9EF;
    text-align: center;
    width: 30%;
    padding: 5px;
    font-size: 12px;
}
.date_inp{
  border-radius: 4px;
  padding: 0px 10px;
  border: 1px solid #2c2c2c50;
  height:35px;
}
.search_dt{
  border: 1px solid #EE9D0E;
  background: #EE9D0E;
  color: #fff;
  border-radius: 0px;
  transition: 0.5s all ease;
  height:35px;
  padding: 0px 10px;
  border-radius: 6px;
  cursor: pointer;
}
