<app-sidebar></app-sidebar>
<app-spinner></app-spinner>
<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4 top side_main bgColor">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4 style="text-align:center">STAFFS UTILIZATION</h4>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <!-- <button class="btn btn-sm btn-outline-secondary">Share</button> -->
        <!-- <button class="btn btn-sm btn-outline-secondary">Export</button> -->
      </div>
      <div class="btn-group mr-2">
        <!-- <button class="btn btn-sm btn-outline-secondary">Share</button> -->
        <!-- <button [routerLink]="['/add-user']" [queryParams]="" class="btn btn-sm btn-outline-secondary">Add New
          Staff</button> -->
      </div>
    </div>
  </div>
  <ul class="nav nav-mytabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="admin"
        aria-selected="true">Admin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="grl-tab" data-toggle="tab" href="#grl" role="tab" aria-controls="grl"
        aria-selected="false">GRL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="gro-tab" data-toggle="tab" href="#gro" role="tab" aria-controls="gro"
        aria-selected="false">GRO</a>
    </li>
  </ul>
  <div class="tab-content mytab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="admin-tab">
      <div class="tab_top">
        <div class="se_by_date mb-3 float-left">
          <div class="date_inp_sec d-inline-block mr-2">
            <!-- <label class="d-block">From</label>
            <input palceholder="From Date" id="a_from_date" readonly /> -->
          </div>
          <div class="date_inp_sec d-inline-block mr-2">
            <!-- <label class="d-block">To</label>
            <input palceholder="To Date" id="a_to_date" readonly /> -->
          </div>
          <div class="date_inp_sec d-inline-block">
            <!-- <button class="search_dt" (click)="filterTable('#table_1', '#a_from_date', '#a_to_date', 3)">Search</button> -->
          </div>
        </div>
        <button id="btnExport" class="btn btn-sm btn-outline-secondary float-right"
          (click)="exportToExcel_1($event)">Export To
          Excel</button>
        <div class="clearfix"></div>
      </div>
      <div class="table-responsive">
        <table id="table_1" class="table table-striped table-bordered" style="width:100%;text-transform: capitalize">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Role</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Created Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let result of adminObj; index as a">
              <ng-container *ngIf="result.value.isEnable">
                <td>{{a+1}}</td>
                <td>{{result.value.name}}</td>
                <td>{{result.value.role}}</td>
                <td>{{result.value.mobileNo}}</td>
                <td>{{result.value.email}}</td>
                <td>{{getDate(result.value.createdAt)}}</td>
              </ng-container>
            </tr>
          </tbody>
        </table>
        <div id="adminDetails" style="display: none;">
            <table id="table_hidden" class="table table-striped table-bordered" style="width:100%;text-transform: capitalize">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Created Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let result of adminObj; index as a">
                    <ng-container *ngIf="result.value.isEnable">
                      <td>{{a+1}}</td>
                      <td>{{result.value.name}}</td>
                      <td>{{result.value.role}}</td>
                      <td>{{result.value.mobileNo}}</td>
                      <td>{{result.value.email}}</td>
                      <td>{{getDate(result.value.createdAt)}}</td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="grl" role="tabpanel" aria-labelledby="grl-tab">
      <div class="tab_top">
        <div class="se_by_date mb-3 float-left">
          <div class="date_inp_sec d-inline-block mr-2">
            <!-- <label class="d-block">From</label>
            <input palceholder="From Date" id="a_from_date" readonly /> -->
          </div>
          <div class="date_inp_sec d-inline-block mr-2">
            <!-- <label class="d-block">To</label>
            <input palceholder="To Date" id="a_to_date" readonly /> -->
          </div>
          <div class="date_inp_sec d-inline-block">
            <!-- <button class="search_dt" (click)="filterTable('#table_2', '#a_from_date', '#a_to_date', 3)">Search</button> -->
          </div>
        </div>
        <button id="btnExport" class="btn btn-sm btn-outline-secondary float-right"
          (click)="exportToExcel_2($event)">Export To
          Excel</button>
        <div class="clearfix"></div>
      </div>
      <div class="table-responsive">
        <table id="table_2" class="table table-striped table-bordered" style="width:100%;text-transform: capitalize">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Role</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Created Date</th>
              <th>IsActivated</th>
              <th>Today Shift</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let result of grlObj; index as l">
              <ng-container *ngIf="result.value.isEnable">
                <td>{{l+1}}</td>
                <td>{{result.value.name}}</td>
                <td>{{result.value.role}}</td>
                <td>{{result.value.mobileNo}}</td>
                <td>{{result.value.email}}</td>
                <td>{{getDate(result.value.createdAt)}}</td>
                <td>{{result.value.isActivated}}</td>
                <td>
                  <p
                    [ngClass]="{'day': toDetect(result.objId,result.value.role)=='D', 'night':toDetect(result.objId,result.value.role)=='N', 'off':toDetect(result.objId,result.value.role)=='O', 'rest':toDetect(result.objId,result.value.role)=='R' }">
                    {{toDetect(result.objId,result.value.role)}}</p>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
        <div id="grlDetails" style="display: none;">
          <table id="table_hidden" class="table table-striped table-bordered"
            style="width:100%;text-transform: capitalize">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Role</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Created Date</th>
                <th>IsActivated</th>
                <th>Today Shift</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let result of grlObj; index as l">
                <ng-container *ngIf="result.value.isEnable">
                  <td>{{l+1}}</td>
                  <td>{{result.value.name}}</td>
                  <td>{{result.value.role}}</td>
                  <td>{{result.value.mobileNo}}</td>
                  <td>{{result.value.email}}</td>
                  <td>{{getDate(result.value.createdAt)}}</td>
                  <td>{{result.value.isActivated}}</td>
                  <td>
                    <p
                      [ngClass]="{'day': toDetect(result.objId,result.value.role)=='D', 'night':toDetect(result.objId,result.value.role)=='N', 'off':toDetect(result.objId,result.value.role)=='O', 'rest':toDetect(result.objId,result.value.role)=='R' }">
                      {{toDetect(result.objId,result.value.role)}}</p>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="gro" role="tabpanel" aria-labelledby="gro-tab">
      <div class="tab_top">
        <div class="se_by_date mb-3 float-left">
          <div class="date_inp_sec d-inline-block mr-2">
            <label class="d-block">From</label>
            <input palceholder="From Date" id="a_from_date" readonly />
          </div>
          <div class="date_inp_sec d-inline-block mr-2">
            <label class="d-block">To</label>
            <input palceholder="To Date" id="a_to_date" readonly />
          </div>
          <div class="date_inp_sec d-inline-block">
            <button class="search_dt" (click)="filterTable('#table_3', '#a_from_date', '#a_to_date', 3)">Search</button>
          </div>
        </div>
        <button id="btnExport" class="btn btn-sm btn-outline-secondary float-right"
          (click)="exportToExcel_3($event)">Export To
          Excel</button>
        <div class="clearfix"></div>
      </div>
      <div class="table-responsive">
        <table id="table_3" class="table table-striped table-bordered" style="width:100%;text-transform: capitalize">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Role</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Created Date</th>
              <th>IsActivated</th>
              <th>Today Shift</th>
              <th>Total Count</th>
              <th>Total Scheduled Count</th>
              <th>Total Started Count</th>
              <th>Total Completed Count</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let result of groObj; index as o">
              <ng-container *ngIf="result.value.isEnable">
                <td>{{o+1}}</td>
                <td>{{result.value.name}}</td>
                <td>{{result.value.role}}</td>
                <td>{{result.value.mobileNo}}</td>
                <td>{{result.value.email}}</td>
                <td>{{getDate(result.value.createdAt)}}</td>
                <td>{{result.value.isActivated}}</td>
                <td>
                  <p
                    [ngClass]="{'day': toDetect(result.objId,result.value.role)=='D', 'night':toDetect(result.objId,result.value.role)=='N', 'off':toDetect(result.objId,result.value.role)=='O', 'rest':toDetect(result.objId,result.value.role)=='R' }">
                    {{toDetect(result.objId,result.value.role)}}</p>
                </td>
                <td>{{totalCount(result.value)}}</td>
                <td>{{totalScheduled(result.value,'scheduled')}}</td>
                <td>{{totalStarted(result.value,'started')}}</td>
                <td>{{totalComplted(result.value,'completed')}}</td>
              </ng-container>
            </tr>
          </tbody>
        </table>
        <div id="groDetails" style="display: none;">
          <table id="table_hidden" class="table table-striped table-bordered"
            style="width:100%;text-transform: capitalize">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Role</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Created Date</th>
                <th>IsActivated</th>
                <th>Today Shift</th>
                <th>Total Count</th>
                <th>Total Scheduled Count</th>
                <th>Total Started Count</th>
                <th>Total Completed Count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let result of groObj; index as o">
                <ng-container *ngIf="result.value.isEnable">
                  <td>{{o+1}}</td>
                  <td>{{result.value.name}}</td>
                  <td>{{result.value.role}}</td>
                  <td>{{result.value.mobileNo}}</td>
                  <td>{{result.value.email}}</td>
                  <td>{{getDate(result.value.createdAt)}}</td>
                  <td>{{result.value.isActivated}}</td>
                  <td>
                    <p
                      [ngClass]="{'day': toDetect(result.objId,result.value.role)=='D', 'night':toDetect(result.objId,result.value.role)=='N', 'off':toDetect(result.objId,result.value.role)=='O', 'rest':toDetect(result.objId,result.value.role)=='R' }">
                      {{toDetect(result.objId,result.value.role)}}</p>
                  </td>
                  <td>{{totalCount(result.value)}}</td>
                  <td>{{totalScheduled(result.value,'scheduled')}}</td>
                  <td>{{totalStarted(result.value,'started')}}</td>
                  <td>{{totalComplted(result.value,'completed')}}</td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
