<app-sidebar></app-sidebar>
<app-spinner></app-spinner>
<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4 top side_main bgColor">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h4 style="text-align:center">Terms & Conditions Update</h4>
        </div>
        <div class="form-check">
                <label class="form-check-label">
                        <input [(ngModel)]="conditionOne" type="checkbox" class="form-check-input" value="">Lorem ipsum
                        dolor sit amet consectetur
                        adipisicing elit. Distinctio maiores esse aut! Error facere ab qui nemo nisi, recusandae
                        eveniet hic temporibus rerum, ducimus iste iure minus fuga porro exercitationem.
                </label>
        </div>
        <br />
        <div class="form-check">
                <label class="form-check-label">
                        <input [(ngModel)]="conditionTwo" type="checkbox" class="form-check-input" value="">Lorem ipsum
                        dolor sit, amet
                        consectetur adipisicing elit. Dolor corrupti repellat mollitia, doloremque soluta eum
                        exercitationem incidunt. Porro eligendi quod recusandae voluptas omnis expedita maiores?
                        Repudiandae architecto facere ut ipsa.
                </label>
        </div>
        <br />
        <button type="button" [disabled]="!conditionOne || !conditionTwo" (click)="tNC();" class="btn btn-primary">Update</button>
</main>