<app-sidebar></app-sidebar>
<app-spinner></app-spinner>
<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4 top side_main bgColor">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4 style="text-align:center">Guest Details</h4>
  </div>
  <div class="tab_top">
    <div class="se_by_date mb-3 float-left">
    </div>
    <div class="float-right mb-3">
      <button id="btnExport" class="btn btn-sm btn-outline-secondary" (click)="exportToExcel($event)">Export To
        Excel</button>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="table-responsive">
    <table id="table_1" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Phone No</th>
          <th>Email</th>
          <th>State</th>
          <th>Country</th>
          <th>T&C</th>
          <th>Booking History</th>
          <th>Created Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of guest; index as g">
          <td>{{g+1}}</td>
          <td class="capitalize">{{result.value.profile.name?result.value.profile.name:'-'}}</td>
          <td>{{result.value.profile.phoneno?result.value.profile.phoneno:'-'}}</td>
          <td>{{result.value.profile.email?result.value.profile.email:'-'}}</td>
          <td class="capitalize">{{result.value.profile.state?result.value.profile.state:'-'}}</td>
          <td class="capitalize">{{result.value.profile.country?result.value.profile.country:'-'}}</td>
          <td class="capitalize">{{result.value.tNc}}</td>
          <td *ngIf="result.value.booking"><button type="button" data-toggle="modal"
              (click)="getGuestInfo(result.value.booking)" data-target="#guestInfo"
              class="btn btn-info btn-sm">Info</button></td>
          <td *ngIf="!result.value.booking">None</td>
          <td>{{getDate(result.value.profile.createdAt)}}</td>
        </tr>
      </tbody>
    </table>
    <div id="guestDetails" style="display:none">
      <table class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Phone No</th>
            <th>Email</th>
            <th>State</th>
            <th>Country</th>
            <th>T&C</th>
            <th>Created Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of guest; index as g">
            <td>{{g+1}}</td>
            <td class="capitalize">{{result.value.profile.name?result.value.profile.name:'-'}}</td>
            <td>{{result.value.profile.phoneno?result.value.profile.phoneno:'-'}}</td>
            <td>{{result.value.profile.email?result.value.profile.email:'-'}}</td>
            <td class="capitalize">{{result.value.profile.state?result.value.profile.state:'-'}}</td>
            <td class="capitalize">{{result.value.profile.country?result.value.profile.country:'-'}}</td>
            <td class="capitalize">{{result.value.tNc}}</td>
            <td>{{getDate(result.value.profile.createdAt)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



</main>

<!-- Modal -->
<div class="modal fade" id="guestInfo" tabindex="-1" role="dialog" aria-labelledby="guestInfo" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Booking History
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="guestBookedInfo" class="modal-body">
        <div id="accordion">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                Booked Information
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                <div class="table-responsive">
                  <table id="tbl_bookedInfo" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Booking Id</th>
                        <th>Service</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let bI of guestBookedInfo; index as GBI">
                        <td>{{GBI+1}}</td>
                        <td>
                          <button type="button" (click)="_bookedInfo(bI.objId,bI.value.service)"
                            class="btn btn-outline-info btn-sm">{{bI.objId}}</button>
                        </td>
                        <td class="capitalize">{{bI.value.service}}</td>
                        <td class="capitalize">{{bI.value.status}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<!-- <div class="modal modal_two fade bd-example-modal-lg" id="bookingInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" *ngIf="bookedInfo" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Detailed Booking Information - {{bookedId}}
        </h4>
        <button type="button" (click)="onCloseModal()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>

      <div class="modal-body">
        <div id="accordion">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                BOOKING INFO
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                <div class="row" style="text-transform:capitalize">
                  <div class="col-md-6">
                    <b>Mode</b> : {{bookedInfo.service}}<br />
                    <b>Plan</b> : {{bookedInfo.pkgInfo.pkgPlan}}<br />
                    <b>Addons</b> :
                    <span *ngFor="let addOn of bookedInfo.addOnDetails; index as ads">
                      <span style="padding:3px;" *ngIf="(addOn | lowercase) == 'porter service'"><button type="button"
                          class="btn btn-outline-primary btn-sm">P</button></span>
                      <span *ngIf="(addOn | lowercase) == 'lounge'"><button type="button" class="btn btn-outline-success btn-sm">L</button></span>
                    </span>
                    <span *ngIf="!bookedInfo.addOnDetails">
                      <button type="button" class="btn btn-outline-secondary btn-sm">None</button>
                    </span>
                    <br />
                  </div>
                  <div class="col-md-6">
                    <b>Status</b> : {{bookedInfo.status}}<br />
                    <b>Package</b> : {{bookedInfo.pkgInfo.pkgName}}<br />
                    <b>Prefered Language</b> :
                    <span *ngIf="bookedInfo.prefLang == 'en'">English</span>
                    <span *ngIf="bookedInfo.prefLang == 'hi'">Hindi</span>
                    <span *ngIf="bookedInfo.prefLang == 'tl'">Telugu</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                FLIGHT INFO
              </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <div *ngIf="bookedInfo.service != 'transfer'" class="row">
                  <div class="col-md-8">
                    <b>Flight No</b> : {{bookedInfo.flInfo.flNo}}<br />
                    <b>Flight Date Time</b> : {{bookedInfo.flInfo.flTimeLabel1}} | {{bookedInfo.flInfo.flTimeLabel2}}<br />
                    <b>Origin/Destination</b> : {{bookedInfo.flInfo.originFull}} - To - {{bookedInfo.flInfo.destFull}}<br />
                  </div>
                  <div class="col-md-4">
                    <b>Flight Name</b> : {{bookedInfo.flInfo.airLine}}<br />
                    <b>Flight Status</b> : <br />
                  </div>
                </div>
                <div *ngIf="bookedInfo.service == 'transfer'">
                  <div *ngIf="bookedInfo.flInfo.arrivalInfo" class="row">
                    <div class="col-md-8">
                      <h4>Arrival Information</h4>
                      <b>Flight No</b> : {{bookedInfo.flInfo.arrivalInfo.flNo}}<br />
                      <b>Flight Date Time</b> : {{bookedInfo.flInfo.arrivalInfo.flTimeLabel1}} |
                      {{bookedInfo.flInfo.arrivalInfo.flTimeLabel2}}<br />
                      <b>Origin/Destination</b> : {{bookedInfo.flInfo.arrivalInfo.originFull}} - To -
                      {{bookedInfo.flInfo.arrivalInfo.destFull}}<br />
                    </div>
                    <div class="col-md-4">
                      <h4 class="invisible">Arrival Information</h4>
                      <b>Flight Name</b> : {{bookedInfo.flInfo.arrivalInfo.airLine}}<br />
                      <b>Flight Status</b> : <br />
                    </div>
                  </div>
                  <div *ngIf="bookedInfo.flInfo.departureInfo" class="row">
                    <div class="col-md-8">
                      <h4>Departure Information</h4>
                      <b>Flight No</b> : {{bookedInfo.flInfo.departureInfo.flNo}}<br />
                      <b>Flight Date Time</b> : {{bookedInfo.flInfo.departureInfo.flTimeLabel1}} |
                      {{bookedInfo.flInfo.departureInfo.flTimeLabel2}}<br />
                      <b>Origin/Destination</b> : {{bookedInfo.flInfo.departureInfo.originFull}} - To -
                      {{bookedInfo.flInfo.departureInfo.destFull}}<br />
                    </div>
                    <div class="col-md-4">
                      <h4 class="invisible">Departure Information</h4>
                      <b>Flight Name</b> : {{bookedInfo.flInfo.departureInfo.airLine}}<br />
                      <b>Flight Status</b> : <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                  SLOT/GRO INFO
                </a>
              </div>
              <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6" *ngIf="bookedInfo.slotInfo.groInfo">
                      <b>GRO Mobile</b> : {{bookedInfo.slotInfo.groInfo.mobileNo}}<br />
                      <b>GRO Name</b> : {{bookedInfo.slotInfo.groInfo.name}} <br />
                      <b>GRO Email</b> : {{bookedInfo.slotInfo.groInfo.email}} <br />
                      <b>Assign Date</b> : {{getDate(bookedInfo.slotInfo.groInfo.assignDate)}} <br />
                    </div>
                    <div class="col-md-6" *ngIf="!bookedInfo.slotInfo.groInfo">
                      <div class="alert alert-info">
                        <strong>Waiting for GRO Allocation</strong>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <b>Slot Date Time</b>: {{bookedInfo.slotInfo.slotTimeLabel1}} |
                      {{bookedInfo.slotInfo.slotTimeLabel2}}<br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                  GUEST INFO
                </a>
              </div>
              <div id="collapseFour" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <b> Service OTP : </b> {{bookedInfo.serviceOTP}} <br />
                      <b> No.of Guest : </b> {{bookedInfo.guestInfo.adultCount + bookedInfo.guestInfo.childcount +
                      bookedInfo.guestInfo.infantcount}}
                      <br />
                      <table id="example" class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>S.no</th>
                            <th>Name</th>
                            <th>Mobile Number</th>
                            <th>DOB</th>
                            <th>Email</th>
                            <th>PNR No</th>
                            <th>National</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let guest of bookedInfo.guestInfo.guestInfo; index as g">
                            <td>{{g+1}}</td>
                            <td>{{guest.firstName}}{{guest.lastName}}</td>
                            <td>{{guest.mobileNumber}}</td>
                            <td>{{guest.dob}}</td>
                            <td>{{guest.email}}</td>
                            <td>{{guest.pnrNo}}</td>
                            <td>{{guest.national}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card" *ngIf="bookedInfo.status == 'started' || bookedInfo.status == 'completed'">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                  STATUS INFO
                </a>
              </div>
              <div id="collapseFive" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <div class="container-fluid">
                    <br /><br />
                    <ul id="progressbar" *ngIf="bookedInfo.serviceList">
                        <li *ngFor="let sl of bookedInfo.serviceList; index as bSl" [ngClass]="(sl.checked == 'true')?'active':''">
                          {{sl.title}} <br /> {{sl.completedAt}}
                        </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
