<app-sidebar></app-sidebar>
<app-spinner></app-spinner>
<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4 top side_main bgColor">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4 style="text-align:center">For Corporate
      Tie-ups & Membership</h4>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Email:</label>
      <input type="email" class="form-control" [(ngModel)]="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label>Mobile:</label>
      <input type="text" class="form-control" maxlength="10"  (keypress)="numberOnly($event)" [(ngModel)]="mobileNo" placeholder="Enter mobile" name="mobile">
    </div>
    <button type="submit" class="btn btn-primary" (click)="_toUpdate()">Update</button>
  </div>
</main>