.top
{
    padding-top:50px;
}
.rightAlign
{
    float: right;
}
.bgColor
{
    background: #fff;
}
.whtebg
{
    background: #fff;
}
.main-calendar-day-names
{
 padding: 15px 10px 0;
color:  #A4A9B1;
width: 100%;
display: flex;
align-items: center;    
}

.day-name-unit
{
 
  width: calc(100% / 7);
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-weight: 500;   
}
.topbar-container
{

width: 100%;
height: 50px;
padding: 15px;
border-bottom: 1px solid #DFE3E9;
display: flex;
justify-content: space-between;
align-items: center;
user-select: none; 
}

.ngx-datepicker-calendar-container
{
    position: relative;
    width: 100%;
    background: #fff;
    box-shadow:  0 1px 4px 0 rgba(0, 0, 0, 0.08);
    border: 1px solid #DFE3E9;
    border-radius: 4px;
    padding: 0px !important;
}


.topbar-container
{

  width: 100%;
  height: 50px;
  padding: 5px;
  border-bottom: 1px solid 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.custColumn
{
    text-align: center;
    border: 2px solid white;
    font-size: 12px;
}
.rooster td{
    text-align: center;
    border: 2px solid white;
    font-size: 12px;
}
.table thead th
{
    font-size: 12px;
}
table.a {
    table-layout: auto;
    width: 100%; 
}
.customTable
{
  
        border-collapse: collapse;
        border: 1px solid black;
    
}

.main-calendar-days, .main-calendar-years
{
    padding: 15px 0;
    width: 100%;
    display: inline-block;
    max-height: 275px;
    overflow: hidden;
}
.main-calendar-container
{

width: 100%;
height: 100%;
padding: 15px 10px 0;
font-size: 12px;
font-weight: 500;
    
}
.main{
    display: grid;
    grid-gap: 10px;
    padding: 15px 10px 0;
    color:  #A4A9B1;
    
    grid-template-columns: auto auto auto auto auto auto auto;
  }
  .colval.active{
   
     grid-column-start: 5;
    /* color: #000;
    font-size: 12px;
    text-align: center; */
  }
  .fontsizeclass
  {
      font-size: 12px;
  }
  .styleshift
  {
    text-align: center;
    color: #fff;
   
  }
  .capitalize{
      text-transform: capitalize !important;
  }
  .day
  {
      background-color: #F7CC8D;
      color: #fff;
      text-align: center;
      width: 30%;
      padding: 5px;
      font-size: 12px;
  }
  .night
  {
      background-color: #284575;
      color: #fff;
      text-align: center;
      width: 30%;
      padding: 5px;
      font-size: 12px;
  }
  .off
  {
      background-color: #FF6565;
      color: #fff;
      text-align: center;
      width: 30%;
      padding: 5px;
      font-size: 12px;
  }
  .rest
  {
      background-color: #E9E9EF;
      text-align: center;
      width: 30%;
      padding: 5px;
      font-size: 12px;
  }
  /*indra update*/
 
  .manage_admin_sec div {
    font-size: 16px !important;
}
.h-three{
        height: 360px;
}
.Last_box{
    height: 360px;
    overflow: auto;
}
.day {

    margin: 0px 0px 0px 0px;
}
.top_label{
    font-size: 12px;
    font-weight: 600;
}
.topbar-container{
    height:auto;
}

img {
    border: 1px solid #ddd; 
    border-radius: 4px;  
    padding: 5px; 
    width: 100px; 
  }
  
  /* Add a hover effect (blue shadow) */
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }