<app-sidebar></app-sidebar>
<app-spinner></app-spinner>
<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4 top side_main bgColor">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4 style="text-align:center">Dashboard Overview</h4>
  </div>
  <div class="table-responsive over_x_hide h_100">
      <button routerLink="/payments" class="btn btn-sm button_color btn-outline-secondary rightAlign mb-3">Manage</button>
    <!-- Payments -->
    <table id="table_show" class="table table-striped table-bordered capitalize" style="width:100%">
      <thead>
        <tr>
          <th>#</th>
          <th>Booking ID</th>
          <th>Amount</th>
          <th>Status</th>
          <th>User</th>
          <th>Initiated At</th>
          <th>Paid At</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of paymentsObj; index as p">
          <td>{{p+1}}</td>
          <td>{{result.value.bookingID}}</td>
          <td>{{result.value.status == 'success'?result.value.axisResp.AMT:'-'}}</td>
          <td>
            <button type="button" [ngClass]="{'btn btn-success btn-sm capitalize':result.value.status =='success','btn btn-primary btn-sm capitalize' : result.value.status == 'initiated','btn btn-danger btn-sm capitalize':result.value.status == 'failed'}"
              class="">{{result.value.status}}</button>
          </td>
          <td><button type="button" data-toggle="modal" (click)="getUserInfo(result.value.userID)" data-target="#userInfo"
              class="btn btn-info btn-sm">Info</button></td>
          <td>{{getDate_1(result.value.initiatedAt)}}</td>
          <td>{{result.value.status == 'success'?getDate_1(result.value.paidAt):'-'}}</td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-7">
        <div class="row">
          <div class="col-6 ">
            <div class="row ">
              <div class="col whtebg  p-3">
                <p class="mb-0 heading_txt">Roster Overview <button routerLink="/manage-roster" class="btn btn-sm button_color btn-outline-secondary rightAlign">Manage</button></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="ngx-datepicker-calendar-container h-three pb-3 pt-3">
                  <div class="row noMargin">
                    <div class="topbar-container dropdownLeft col-6">
                      <div class="d-block">
                        <label class="top_label">Select the type of Staff</label>
                        <select class="form-control capitalize" [(ngModel)]="selectedBranch" (ngModelChange)="onChangeBranch($event)">
                          <option *ngFor="let t of roles">
                            <p> {{t.role}}</p>
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="topbar-container  dropdownRight col-6">
                      <div class="d-block">
                        <label class="top_label">Select the name of the Staff</label>
                        <select class="form-control capitalize" [(ngModel)]="selectedName" (ngModelChange)="onChange($event)">
                          <option *ngFor="let f of groValues; let i = index;">
                            <p> {{f.name}}</p>
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="main-calendar-day-names">
                    <span class="day-name-unit" *ngFor="let day of days">
                      {{ day.day }}
                    </span>
                  </div>
                  <div>
                    <div class="main pt-3 pb-3" id="frstcol">
                      <span *ngFor="let sche of dayValues; index as i;" class="styleshift" [attr.id]="'wave' + i">{{sche.shift}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col whtebg p-3">
                <p class="mb-0 heading_txt">Booking Overview <button routerLink="/manage-bookings" class="btn btn-sm  button_color btn-outline-secondary rightAlign">Manage</button></p>
              </div>
            </div>
            <div class="row">
              <div class="col h-three">
                <ng-datepicker [(ngModel)]="date" isOpened="true" headless="true" (ngModelChange)="select(date)"></ng-datepicker>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="row">
          <div class="col whtebg p-3">
            <p class="mb-0 heading_txt"> Manage Admin/GRL/GRO <button routerLink="/manage-users" class="btn btn-sm button_color btn-outline-secondary rightAlign">Manage</button></p>
          </div>
        </div>
        <div class="row">
          <div class="col manage_admin_sec Last_box">
            <div class="ngx-datepicker-calendar-container p-3  fontsizeclass">
              <!-- GRL -->
              <div class="main-calendar-day-names row">
                <div class="col-3">
                  GRL
                </div>
                <div class="col-3">
                  Mobile No
                </div>
                <div class="col-3">
                  Today Shift
                </div>
                <div class="col-3">
                  IsActivated
                </div>
              </div>
              <div *ngIf="grlObj">
                <div class="row no-gutters" *ngFor="let result of grlObj; index as l">
                  <div class="col-3 p-2 capitalize">
                    {{result.value.name}}
                  </div>
                  <div class="col-3 p-2">
                    {{result.value.mobileNo}}
                  </div>
                  <div class="col-3 p-2">
                    <p [ngClass]="{'day': toDetect(result.objId,result.value.role)=='D', 'night':toDetect(result.objId,result.value.role)=='N', 'off':toDetect(result.objId,result.value.role)=='O', 'rest':toDetect(result.objId,result.value.role)=='R' }">{{toDetect(result.objId,result.value.role)}}</p>
                  </div>
                  <div class="col-3 p-2 capitalize">
                    {{result.value.isActivated}}
                  </div>
                </div>
              </div>
              <!-- GRO -->
              <div class="main-calendar-day-names row">
                <div class="col-3">
                  GRO
                </div>
                <div class="col-3">
                  Mobile No
                </div>
                <div class="col-3">
                  Today Shift
                </div>
                <div class="col-3">
                  IsActivated
                </div>
              </div>
              <div *ngIf="groObj">
                <div class="row no-gutters" *ngFor="let result of groObj; index as o">
                  <div class="col-3 p-2 capitalize">
                    {{result.value.name}}
                  </div>
                  <div class="col-3 p-2">
                    {{result.value.mobileNo}}
                  </div>
                  <div class="col-3 p-2">
                    <p [ngClass]="{'day': toDetect(result.objId,result.value.role)=='D', 'night':toDetect(result.objId,result.value.role)=='N', 'off':toDetect(result.objId,result.value.role)=='O', 'rest':toDetect(result.objId,result.value.role)=='R' }">{{toDetect(result.objId,result.value.role)}}</p>
                  </div>
                  <div class="col-3 p-2 capitalize">
                    {{result.value.isActivated}}
                  </div>
                </div>
              </div>
              <!-- Admin -->
              <div class="main-calendar-day-names row">
                <div class="col-3">
                  Admin
                </div>
                <div class="col-3">
                  Mobile No
                </div>
                <div class="col-3">
                  Date
                </div>
                <div class="col-3">
                  IsActivated
                </div>
              </div>
              <div *ngIf="groObj">
                <div class="row no-gutters" *ngFor="let result of adminObj; index as a">
                  <div class="col-3 p-2 capitalize">
                    {{result.value.name}}
                  </div>
                  <div class="col-3 p-2">
                    {{result.value.mobileNo}}
                  </div>
                  <div class="col-3 p-2">
                    {{getDate(result.value.createdAt)}}
                  </div>
                  <div class="col-3 p-2">
                    True
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 2nd Row set -->
    <div class="row mt-5">
      <div class="col">
      </div>
    </div>
  </div>
</main>


<!-- Modal -->
<div class="modal fade" id="userInfo" tabindex="-1" role="dialog" aria-labelledby="userInfo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div *ngIf="userObj" class="modal-content">
        <!-- <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{userObj.profile.name?userObj.profile.name:'User Info'}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->
  
        <div class="modal-header">
          <h4 class="modal-title"> {{userObj.profile.name?userObj.profile.name:'User Info'}}
          </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
  
          <div id="accordion">
            <div class="card">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                  Profile Information
                </a>
              </div>
              <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                  <div class="row">
                    <div class="col-8">
                      <p class="capitalize" *ngIf="userObj.profile.name">Name : {{userObj.profile.name}}</p>
                      <p *ngIf="userObj.profile.phoneno">Phoneno : {{userObj.profile.phoneno}}</p>
                      <p *ngIf="userObj.profile.email">Email : {{userObj.profile.email}}</p>
                      <p class="capitalize" *ngIf="userObj.profile.state">State : {{userObj.profile.state}}</p>
                      <p class="capitalize" *ngIf="userObj.profile.country">Country : {{userObj.profile.country}}</p>
                      <p class="capitalize" *ngIf="userObj.tNc">T&C : {{userObj.tNc}}</p>
                    </div>
                    <div class="col-4 pr-0">
                      <img class="float-right" src="{{userObj.profile.profileImg}}" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                  Collapsible Group Item #2
                </a>
              </div>
              <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  Lorem ipsum..
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>