/* You can add global styles to this file, and also import other style files */
body {
    overflow-x: hidden;
  }
  .table-responsive.over_x_hide {
    overflow-x: hidden;
}
.heading_txt{
    font-weight:600;
    color: #660032;
}
.overflow-x{
    overflow-x: hidden;
}
.noMargin{
    margin: 0px !important;
}
.button_color:hover{
    background: transparent;
    border:1px solid  #EE9D0E;
    border-radius: 6px;
    color: #EE9D0E;
}
.button_color{
    border:1px solid  #EE9D0E;
    background: #EE9D0E;
    color: #fff;
    border-radius: 0px;
    transition: 0.5s all ease;
}
.side_main.active{
    transition: 1s all ease;
    transform: translateX(230px);
      }
      .side_main{
        transition: 1s all ease;
    transform: translateX(0px);  
      }
      .h_100{
          height:100vh;
      }
      .card-header {
        background: #660032;
        color: #fff;
    }
    .card-header a{
        display: block;
        color: #fff;
        font-weight: 600;
    }
    h4.modal-title {
        width: 100%;
        text-align: center;
        color:#660032;
      }
      .modal-content input {
        padding: 3px 15px;
        border-radius: 3px;
        border: 1px solid #ddd;
      }
      .modal-content p{
        margin-bottom: 15px;
      }
      .modal-body{
        line-height: 39px;
      }
      .card-header {
        padding: 0px 20px;
    }
    .card {
        margin-bottom: 10px;
    }
    .nav-link.active {
        background: #660032 !important;
        color: #fff !important;
    }