.top
{
    padding-top:50px;
}
.nav-mytabs {
    margin-top: 2rem;
  }
   
  .nav-mytabs li:not(:last-child) {
    margin-right: 7px;
  }
   
  .nav-mytabs a {
    position: relative;
    top: 4px;
    padding: 10px 25px;
    border-radius: 2px 2px 0 0;
    background: white;
    color: black;
    opacity: 0.7;
    transition: all 0.1s ease-in-out;
  }
   
  .nav-mytabs a.active, 
  .nav-mytabs a:hover {
    opacity: 1;
    top: 0;
  }
   
  .mytab-content {
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 0 4px 4px 4px;
    background: white;
  }


/*indra update*/
.modal-lg {
  max-width: 900px;
}

.res_label{
  padding: 10px;
  border-radius: 4px;
  background: #6D131F;
  color: #fff;
  width: 100%;
  cursor: pointer;
  text-align: center;
}
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  display: flex;
}

#progressbar li {
  list-style-type: none;
  color: #000;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
  letter-spacing: 1px;
  z-index: 9;
  text-align: center;
  line-height: 20px;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 26px;
  display: block;
  font-size: 12px;
  color: #333;
  background: #ddd;
  border-radius: 25px;
  margin: 0 auto 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #ddd;
  position: absolute;
  left: -40%;
    top: 13px;
    z-index: -9;
  /*put it behind the numbers*/
}
#progressbar li.active:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #6D131F;
  position: absolute;
  left: -40%;
    top: 13px;
    z-index: -9;
  /*put it behind the numbers*/
}




#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before {
  background: #6D131F;
  color: white;
  position: relative;
}
#progressbar li.active{
  z-index: 999999999999999;
}
.date_inp{
  border-radius: 4px;
  padding: 0px 10px;
  border: 1px solid #2c2c2c50;
  height:35px;
}
.search_dt{
  border: 1px solid #EE9D0E;
  background: #EE9D0E;
  color: #fff;
  border-radius: 0px;
  transition: 0.5s all ease;
  height:35px;
  padding: 0px 10px;
  border-radius: 6px;
  cursor: pointer;
}