.top{
    padding-top: 50px;
}
.nav-mytabs {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-mytabs li {
    width: 150px;
}
.nav-mytabs li:not(:last-child) {
    margin-right: 7px;
}
.nav-mytabs a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    top: 4px;
    padding: 10px 25px;
    border-radius: 2px 2px 0 0;
    background: white;
    color: black;
    opacity: 0.7;
    transition: all 0.1s ease-in-out;
} 
.nav-mytabs a.active, 
.nav-mytabs a:hover {
    opacity: 1;
    top: 0;
}
.mytab-content {
    position: relative;
    z-index: 2;
    padding: 30px 0px 0px 0px;
    border-radius: 0 4px 4px 4px;
    background: white;
}
.depart {
    background: url(../../assets/images/depa-black.png) no-repeat;
    background-size: contain;
    transition: all .5s ease;
    background-position: 50%;
}
.nav-link.active .depart {
    background: url(../../assets/images/Depature-White.png) no-repeat;
    background-size: contain;
    transition: all .5s ease;
    background-position: 50%;
}
.arrival{
    background: url(../../assets/images/arrival-black.png) no-repeat;
    background-size: contain;
    transition: all .5s ease;
    background-position: 50%;
}
.nav-link.active .arrival {
    background: url(../../assets/images/Arrival-White.png) no-repeat;
    background-size: contain;
    transition: all .5s ease;
    background-position: 50%;
}
.transfer{
    background: url(../../assets/images/transfer-black.png) no-repeat;
    background-size: contain;
    transition: all .5s ease;
    background-position: 50%;
}
.nav-link.active .transfer {
    background: url(../../assets/images/Transfer-White.png) no-repeat;
    background-size: contain;
    transition: all .5s ease;
    background-position: 50%;
}
.nav-mytabs li a span {
    width: 28px;
    height: 28px;
    margin-right: 5px;
}
.no-pad {
    padding: 0!important;
}
.no-mar {
    margin: 0!important;
}
.over-depart {
    margin: 0 auto;
    width: 60%;
}
.card-header a {
    position: relative;
    display: flex;
    transition: all .3s ease;
}
#accordion_services .card-link {
    position: relative;
}
#accordion_services .card-link {
    background: #f8a712;
}
#accordion_addOn_services .card-header, #accordion_services .card-header {
    background: #f4f4f4;
    border: 0!important;
}
#accordion_services .card-link.collapsed {
    border-radius: 4px;
    background: #f4f4f4;
}
#accordion_services .card-link.collapsed div{
    color: #000!important;
}
p {
    margin: 0;
}
.mar-sp{
    margin-left: 15px !important;
}
#accordion_services .card-link:after {
    content: "";
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    display: block;
    background: url(../../assets/images/minus-icon-white.png) no-repeat;
    background-size: cover;
    margin: auto;
    left: auto;
    bottom: 0;
}
#accordion_services .card-link.collapsed:after{
    content: "";
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    display: block;
    background: url(../../assets/images/plus-icon-white.png) no-repeat;
    background-size: cover;
    margin: auto;
    left: auto;
    bottom: 0; 
}
.collapse_outter {
    border: 1px solid #f8a712;
}
.dropdown-select {
    position: relative;
    -webkit-appearance: none;
}
.serv_Inp_Sec {
    margin: 20px 0;
}
select.ser_dr_dw {
    width: 100%;
    height: 35px;
    background: #f7f7f7;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    outline: none;
    height: 40px;
    padding: 0 10px;
    color: #495057;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.dropdown-select:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    display: block;
    background: url(../../assets/images/down-arrow.png) no-repeat;
    background-size: contain;
    top: 10px;
    right: 10px;
}
.date-pick {
    position: relative;
}
.serv_Inp {
    padding: 3px 10px;
    border: 1px solid #ddd;
    background: #f7f7f7;
    border-radius: 4px;
}
.findSerBut, .serv_Inp{
    width: 100%;
    font-size: 14px;
    height: 40px;
}
.date-pick:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    display: block;
    background: url(../../assets/images/calendar.png) no-repeat;
    background-size: contain;
    top: 10px;
    right: 10px;
}
.yellow_button {
    background: #f8a712;
    width: 100%;
    color: #000;
    height: 40px;
    border: 0;
    border-radius: 4px;
    outline: 0;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s ease;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}
.fsp-13 {
    font-size: 13px;
}
.d_blc {
    color: #b2b2b2;
}
.no-u-line, .no-u-line:hover {
    text-decoration: none;
}
.date_ic{
    width: 25px;
}
.flight_sha {
    box-shadow: 0 1px 0.5px #ddd;
}
.b_grey {
    color: #bbb;
}
.privilage_text {
    font-size: .8rem;
}
.ageDesc, .privilage_text {
    display: inline-block;
    font-style: italic;
}
.services_flow {
    box-shadow: -1px 2px 18px 1px #ccc;
}
.ser_par {
    display: -ms-flexbox;
    display: flex;
    width: 800px!important;
}
.serices_flow_num{
    width: 34%;
}
.serv_num {
    width: 40px;
    height: 40px;
    background: #ddd;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    position: relative;
    cursor: pointer;
}
.serv_num.active {
    background: #1e4679;
}
.clr_white {
    color: #fff!important;
}
.fs-1-3 {
    font-size: 1.3rem;
}
.fw_600 {
    font-weight: 600;
}
.ser_numb_label{
    left: 30px;
    position: absolute;
    width: 130px!important;
    border-radius: 0 4px 4px 0;
    font-size: 10px;
    display: block;
    color: #fff;
    width: 100px;
    top: 10px;
    z-index: 99;
    background: #1e4679;
    height: 22px;
    line-height: 22px;
}
.fw_none {
    font-weight: 400;
}
.serv_num:after {
    content: "";
    width: 250px;
    height: 5px;
    background: #ddd;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto auto 40px;
}
.serv_num.active:after {
    background: #1e4679;
}
.w-25 {
    width: 25%!important;
}
.clr_c_grey {
    color: #ada9a9;
}
.fs-1 {
    font-size: 1rem!important;
}
.fw_700 {
    font-weight: 700;
}
#accordion_services_one .card-linkone, #accordion_addOn_services .card-linkone, #accordion_services_one_domestic .card-linkone{
    background: #f8a712;
}
#accordion_guest_Serv .card-link-grey{
    background-color: rgba(0,0,0,.03);
}
#accordion_services_one .card-linkone div, #accordion_addOn_services .card-linkone div, #accordion_services_one_domestic .card-linkone div {
    color: #000;
}
#accordion_addOn_services .card-linkone p{
    color: #000;
}
#accordion_addOn_services .card-linkone a{
    color: #000;
}
#accordion_addOn_services .card-body, #accordion_services .card-body {
    background: #f4f4f4;
    padding: 10px;
}
.fsp-12 {
    font-size: 12px;
}
.fs-1-2 {
    font-size: 1.2rem;
}
.acc_Services {
    list-style-type: none;
}
.acc_Services li {
    background: #ececec;
}
.acc_Services li img {
    width: 30px;
}
.inner_acc_det {
    margin: 10px;
    border: 1px solid #ddd;
}
.inner_acc_det .card-link-new{
    background: #1e4679!important;
}
.bor_white {
    border-radius: 4px;
    border: 1px solid #ddd;
}
#accordion_services_one .add_booking:before, #accordion_addOn_services .add_booking:before, #accordion_services_one_domestic .add_booking:before{
    content: "";
    position: absolute;
    left: 15px!important;
    top: 0;
    width: 18px;
    height: 18px;
    display: block;
    background: url(../../assets/images/plus-icon-white.png) no-repeat;
    background-size: contain;
    margin: auto;
    bottom: 0;
}
#accordion_services_one .remove:before, #accordion_addOn_services .remove:before, #accordion_services_one_domestic .remove:before{
    content: "";
    position: absolute;
    left: 3px!important;
    top: 0;
    width: 18px;
    height: 18px;
    display: block;
    background: url(../../assets/images/close.png) no-repeat;
    background-size: contain;
    margin: auto;
    bottom: 0;
}
#accordion_services_one .added:before, #accordion_addOn_services .added:before, #accordion_services_one_domestic .added:before{
    content: "";
    position: absolute;
    left: 3px!important;
    top: 0;
    width: 18px;
    height: 18px;
    display: block;
    background: url(../../assets/images/Tick.png) no-repeat;
    background-size: contain;
    margin: auto;
    bottom: 0;
}
.clr_blue {
    color: #1c265b!important;
}
.gold-pack-flex{
    display: flex;
    justify-content: flex-end;
}
.serv_back {
    background: #8e92ad;
}
.serv_back, .serv_next {
    border-radius: 4px;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
}
.serv_back:hover {
    box-shadow: 0 2px 20px 1px #8e92ad;
    transform: translateY(-3px);
}
.serv_next:hover {
    box-shadow: 0 2px 20px 1px #1c2348;
    transform: translateY(-3px);
}
.serv_next {
    background: #1c265b;
}
.a-color {
    color: #1c265b !important;
}
.notvalidborder{
    border: 1px solid red;
    outline-color: red;
}
.form_guest_inp_inner {
    border-radius: 4px;
    border: 1px solid #ddd;
    background: #fff;
    display: block;
}
.ser_dr_dw.form_select{
    height: 35px;
    background: #fff;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.ngx-dropdown-container {
    width: 100%;
    position: relative;
}
.searchselect .ngx-dropdown-container {
    height: 100%;
}
.searchselect .ngx-dropdown-container .ngx-dropdown-button {
    height: 100%;
    background-color: transparent!important;
}
.ngx-dropdown-container button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.ngx-dropdown-container .ngx-dropdown-button {
    width: 100%;
    min-height: 30px;
    padding: 5px 10px 5px 10px;
    background-color: white;
}
.ngx-dropdown-container button span {
    vertical-align: middle;
    float: left;
}
[class*=" nsdicon-"], [class^=nsdicon-] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ngx-dropdown-container button .nsdicon-angle-down {
    position: relative;
    font-size: large;
    float: right;
}
.placrd_details {
    background: url(../../assets/images/blue.png) no-repeat;
    background-size: cover;
    border-radius: 4px;
}
.fs-1-1{
    font-size: 1.1rem;
}
.proceed_pay {
    background: #eb9711;
    border-radius: 4px;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
}
.proceed_pay:hover {
    box-shadow: 0 2px 20px 1px #eb9711;
    transform: translateY(-3px);
}
.proceed_pay{
    display: none;
}
.after-none:after{
    display: none;
}
.add-remove {
    display: none !important;
}

@media (min-width: 1200px){
    .remove.float-right {
        float: none!important;
        padding-right: 10px!important;
    }
}